@model eTactWeb.DOM.Models.RoutingMainDashboard

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="shadow-lg">
    <div class="card rounded border-light bg-gradient">
        <div class="card-header card-headerBG text-light bg-gradient">
            <h5>
                ROUTING - <strong>Dashboard</strong>
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-action="Routing" class="btn btn-sm btn-outline-light bg-gradient">
                        <i class="fa fa-plus-circle fafw fa-lg" aria-hidden="true"></i>
                        Add New
                    </a>
                </span>
            </h5>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body">
                    <form id="SParam">
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                <label asp-for="PartCode" class="form-label">PartCode</label>
                                <input asp-for="PartCode" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                <label asp-for="ItemName" class="form-label">Item Name</label>
                                <input asp-for="ItemName" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                <label asp-for="Stage" class="form-label">Stage</label>
                                <input asp-for="Stage" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                <label asp-for="WorkCenter" class="form-label">Work Center</label>
                                <input asp-for="WorkCenter" class="form-control" />
                            </div>
                            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label asp-for="SummaryDetail" class="form-label">Summary/Detail</label>
                                <select class="form-select" asp-for="SummaryDetail" onchange="GetSearchData();">
                                    <option value="0">-Select-</option>
                                    <option value="Summary" selected>Summary</option>
                                    <option value="Detail">Detail</option>
                                </select>
                            </div>
                           @*  <div class="col-sm-3 col-md-6 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">From Date</label>
                                        <input asp-for="FromDate" maxlength="10" class="form-control" />
                                    </div>
                                    <div class="col">
                                        <label class="form-label">To Date</label>
                                        <input asp-for="ToDate" maxlength="10" class="form-control" />
                                    </div>
                                </div>
                            </div> *@
                            <div class="col-sm-3 col-md-6 col-lg-2 col-xl-2">

                                <div class="row">
                                <div class="col">
                                    <label class="form-label">From Date</label>
                                    <input asp-for="FromDate" class="form-control" />
                                </div>
                                <div class="col">
                                    <label class="form-label">To Date</label>
                                    <input asp-for="ToDate" class="form-control" />
                                </div>
                                    <input asp-for="FromDate1" type="hidden" />
                                    <input asp-for="ToDate1" type="hidden" />

                                </div>
                        </div> 
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end mt-3">
                                <button class="btn btn-sm btn-outline-info" type="button" onclick="GetSearchData();">
                                    <i class="fa-solid fa-magnifying-glass fa-fw fa-lg "></i>SEARCH
                                </button>
                                <button class="btn btn-sm btn-outline-success me-3" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="btnGridExcel">
                                    <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                                </button>
                                <a class="btn btn-sm btn-outline-danger" asp-controller="Routing" asp-action="RoutingDashboard">
                                    <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                </a>
                                <div class="ms-auto d-flex align-items-center">
                                    <div class="col-md-4">
                                        <label class="form-label me-2">Global search</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="search-box" placeholder="Search..." style="background-color:#FFFACD;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body pb-0 pt-0">
            <div class="progress" style="height: 4px;">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body" id="divDashboardGrid">
                    <partial name="_RoutingDashboardGrid" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>

        $(document).ready(function () {
            //var date = new Date();

            //date.setMonth(date.getMonth());
            //date.setDate(1);
            var GetDate = $('#FromDate').val().split(" ")[0];
            var date = new Date(GetDate.replace(/(\d{2})\/([a-zA-Z]+)\/(\d{4})/, '$1 $2 $3'));
            //var year = date.getFullYear();
            var FromDate = ('0' + date.getDate()).slice(-2) + '/' + ('0' + (date.getMonth() + 1)).slice(-2) + '/' + 2020;

            $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", FromDate);
           // $("#FromDate").on('keydown', function (e) { e.preventDefault(); return false; });
            $('#FromDate').datepicker("option", "minDate", FromDate);
            //$("#ToDate").datepicker({ changeMonth: true, changeYear: true, dateFormat: 'dd/mm/yy' });
            //$("#ToDate").on('keydown', function (e) { e.preventDefault(); return false; });

            AutoComplete('VRouteMainDetail', 'PartCode', 'PartCode', null);
            AutoComplete('VRouteMainDetail', 'ItemName', 'ItemName', null);
            AutoComplete('VRouteMainDetail', 'Stage', 'StageDescription', null);
            AutoComplete('VRouteMainDetail', 'WorkCenter', 'WorkCenterDescription', null);

            GetServerDate();
            GetFormRights();
            GetSearchData();
                   if ($('#FromDate1').val() != "" && $('#ToDate1').val() != "") {

                var inputFromDateString = $('#FromDate1').val().split(" ")[0];
                var inputToDateString = $('#ToDate1').val().split(" ")[0];

                var originalFromDate = new Date(inputFromDateString);
                var originalToDate = new Date(inputToDateString);
                //fromdate
                var day = originalFromDate.getDate();
                var month = originalFromDate.getMonth() + 1; // Months are zero-based
                var year = originalFromDate.getFullYear();
                var convertedFromDateText = day.toString().padStart(2, '0') + '/' + month.toString().padStart(2, '0') + '/' + year;
                //todate
                var day = originalToDate.getDate();
                var month = originalToDate.getMonth() + 1; // Months are zero-based
                var year = originalToDate.getFullYear();
                var convertedToDateText = day.toString().padStart(2, '0') + '/' + month.toString().padStart(2, '0') + '/' + year;
                $('#FromDate').val(convertedFromDateText);
                $('#ToDate').val(convertedToDateText);

            }
        });


        function confirmdelete(event) {
             
            event.preventDefault();
            if (confirm("are you sure you want to delete this entry?")) {
                 
                var linkurl = $(event.currentTarget).attr("href");
                linkurl = linkurl + "?PartCode=" + $('#PartCode').val() + "&ItemName=" + $('#ItemName').val() + "&Stage=" + $('#Stage').val() + "&WorkCenter=" + $('#WorkCenter').val() + "&FromDate=" + $('#FromDate').val() + "&ToDate=" + $('#ToDate').val() + "&SummaryDetail=" + $('#SummaryDetail').val();
                window.location.href = linkurl;
            }
        }

        function GetServerDate() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetServerDate")",
                async: false,
                success: function (result, status, error) {

                    $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
                }
            });
        }


        function GetSearchData() {
            var data = $('#SParam').serialize();
            $.ajax({
                url: '@Url.Action("GetSearchData")',
                type: "POST",
                data: { SummaryDetail: $('#SummaryDetail').val(), PartCode: $('#PartCode').val(), ItemName: $('#ItemName').val(), Stage: $('#Stage').val(), WorkCenter: $('#WorkCenter').val(), FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val() },
                success: function (data) {
                    $('#divDashboardGrid').empty().append(data);
                    GetFormRights();
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }

        $("#btnGridExcel").click(function () {
             
            const table = document.querySelector(".RoutingDashboard");
            const rows = table.querySelectorAll("tr");
            const data = [];

            const headerRow = rows[0];
            const headerData = [];

            headerRow.querySelectorAll("th").forEach((cell) => {
                // cell.style.backgroundColor = "#fcba03";
                headerData.push(cell.textContent);
            });

            data.push(headerData);

            for (let i = 1; i < rows.length; i++) {
                const rowData = [];
                rows[i].querySelectorAll("td").forEach((cell) => {
                    rowData.push(cell.textContent);
                });
                data.push(rowData);
            }

            const ws = XLSX.utils.aoa_to_sheet(data);

            ws["!cols"] = [{ wch: 15 }, { wch: 15 }, { wch: 15 }, /* ... */];

            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, "Sheet 1");


            XLSX.writeFile(wb, "RoutingDashboard.xlsx");
        });

        var currentSearchColumn = null;

        $("#search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#divRoutingGrid tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });


        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#search-box").val('').trigger('keyup');
        });

        $(document).on("click", ".sortCol", function () {
            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');
            if (currentOrder === 'asc') {
                sortTable('RoutingDashboard', colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow');
                //$(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable('RoutingDashboard', colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });

    

        function GetFormRights() {
            $.ajax({
                url: "@Url.Action("GetFormRights")",
                type: "POST",
                success: function (data) {
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.Result.Table.length == 0) {
                            var rowCounter = $('#divDashboardGrid tr').length;
                            for (var i = 0; i < rowCounter; i++) {
                                $('#viewCursorDiv-' + i).empty();
                                $('#viewCursorDiv-' + i).append(`<a class="table-link link-success noCursor" id="viewNoCursor"">
                                                                                                        <span class="fa-stack">
                                                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                                                            <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                                                                                        </span>
                                                                                                    </a>`);
                            }
                            for (var i = 0; i < rowCounter; i++) {
                                $('#editCursorDiv-' + i).empty();
                                $('#editCursorDiv-' + i).append(`<a class="table-link link-primary noCursor">
                                                                                                                <span class="fa-stack">
                                                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                                                                </span>
                                                                                                            </a>`);
                            }
                            for (var i = 0; i < rowCounter; i++) {
                                $('#deleteCursorDiv-' + i).empty();
                                $('#deleteCursorDiv-' + i).append(`<a class="table-link link-danger noCursor">
                                                                                                        <span class="fa-stack">
                                                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                                                                        </span>
                                                                                                    </a>`);
                            }

                        } else {
                             (obj);
                            if (obj.Result.Table[0] != undefined) {
                                var optAll = obj.Result.Table[0].OptAll;
                                var optSave = obj.Result.Table[0].OptSave;
                                var optUpdate = obj.Result.Table[0].OptUpdate;
                                var optDelete = obj.Result.Table[0].OptDelete;
                                var optView = obj.Result.Table[0].OptView;
                                var rowCounter = $('#divDashboardGrid tr').length;
                                if (!optAll) {
                                    if (!optView) {

                                        for (var i = 0; i < rowCounter; i++) {
                                            $('#viewCursorDiv-' + i).empty();
                                            $('#viewCursorDiv-' + i).append(`<a class="table-link link-success noCursor" id="viewNoCursor"">
                                                                                                        <span class="fa-stack">
                                                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                                                            <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                                                                                        </span>
                                                                                                    </a>`);
                                        }
                                    }
                                    if (!optUpdate) {
                                        for (var i = 0; i < rowCounter; i++) {
                                            $('#editCursorDiv-' + i).empty();
                                            $('#editCursorDiv-' + i).append(`<a class="table-link link-primary noCursor">
                                                                                                        <span class="fa-stack">
                                                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                                                        </span>
                                                                                                    </a>`);
                                        }
                                    }
                                    if (!optDelete) {
                                        for (var i = 0; i < rowCounter; i++) {
                                            $('#deleteCursorDiv-' + i).empty();
                                            $('#deleteCursorDiv-' + i).append(`<a class="table-link link-danger noCursor">
                                                                                                        <span class="fa-stack">
                                                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                                                                        </span>
                                                                                                    </a>`);
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }

    </script>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
}
