@model eTactWeb.DOM.Models.PODashBoard
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="shadow-lg">
    <div class="card rounded border-light bg-gradient">
        <div class="card-header card-headerBG text-light bg-gradient">
            <h5>
                Sale Order - <strong>Dashboard</strong>
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-action="OrderDetail" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                        <i class="fa fa-plus-circle fafw fa-lg" aria-hidden="true"></i>
                        Add New
                    </a>
                </span>
            </h5>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body">
                    <form id="SParam">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                                <label asp-for="VendorName" class="form-label">Customer Name</label>
                                <input asp-for="VendorName" class="form-control" />
                            </div>
                            <div class="col-lg-1 col-md-4 col-sm-12 col-xs-12">
                                <label asp-for="PONO" class="form-label">PO NO</label>
                                <input asp-for="PONO" class="form-control" />
                            </div>

                            <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <label asp-for="OrderType" class="form-label">Order Type</label>
                                <select class="form-select" asp-for="OrderType">
                                    <option value=0>-Select-</option>
                                    <option value="Export">Export</option>
                                    <option value="Domestic">Domestic</option>
                                </select>
                            </div>
                            <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <label asp-for="POType" class="form-label">SO Type</label>
                                <select class="form-select" asp-for="POType">
                                    <option value=0>-Select-</option>
                                    <option value="OPEN">OPEN</option>
                                    <option value="CLOSE">CLOSE</option>
                                </select>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">From Date</label>
                                        <input asp-for="FromDate" maxlength="10" class="form-control" />
                                    </div>
                                    <div class="col">
                                        <label class="form-label">To Date</label>
                                        <input asp-for="ToDate" maxlength="10" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-8 col-sm-6 col-xs-12 d-flex justify-content-evenly mt-3">
                                <button class="btn btn-sm btn-outline-info" type="button" onclick="GetSearchData();">
                                    <i class="fa-solid fa-magnifying-glass fa-fw fa-lg "></i>SEARCH
                                </button>
                                <a class="btn btn-sm btn-outline-danger" asp-controller="SaleOrder" asp-action="Dashboard">
                                    <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body pb-0 pt-0">
            <div class="progress" style="height: 4px;">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body" id="divDashboardGrid">
                    <partial name="_SOAmmListGrid" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function() {
            $("#FromDate").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#FromDate").on('keydown', function(e) { e.preventDefault(); return false; });
            $("#ToDate").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#ToDate").on('keydown', function(e) { e.preventDefault(); return false; });

            AutoComplete('VSALEORDER', 'CustomerName', 'CustomerName', null);
            AutoComplete('VSALEORDER', 'CustOrderNo', 'CustOrderNo', null);
        });

        function GetSearchData() {
            var data = $('#SParam').serialize();
            $.ajax({
                url: '@Url.Action("GetSearchData")',
                type: "POST",
                data: $('#SParam').serializeArray(),
                success: function(data) {
                    $('#divDashboardGrid').empty().append(data);
                },
                error: function(response) {
                    alert(response.responseText);
                },
                failure: function(response) {
                    alert(response.responseText);
                }
            });
        }
    </script>
}