@model eTactWeb.DOM.Models.ISTDashboard

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="shadow-lg">
    <div class="card rounded border-light bg-gradient">
        <div class="card-header card-headerBG text-light bg-gradient">
            <h5>
                InterStoreTransfer - <strong>Dashboard</strong>
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-action="InterStoreTransfer" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient" id="savebtn">
                        <i class="fa fa-plus-circle fafw fa-lg" aria-hidden="true"></i>
                        Add New
                    </a>
                </span>
            </h5>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body">
                    <form id="SParam">
                        <div class="row">

                            <div class="col-sm-3 col-md-6 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">From Date</label>
                                        <input asp-for="FromDate" maxlength="10" class="form-control" />
                                    </div>
                                    <div class="col">
                                        <label class="form-label">To Date</label>
                                        <input asp-for="ToDate" id="ToDate" maxlength="10" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-1">
                                <label asp-for="SlipNo" class="form-label">Slip No</label>
                                <input asp-for="SlipNo" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-1">
                                <label asp-for="PartCode" class="form-label">PartCode</label>
                                <input asp-for="PartCode" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-1">
                                <label asp-for="ItemName" class="form-label">ItemName</label>
                                <input asp-for="ItemName" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                <label asp-for="Batchno" class="form-label">Batch No</label>
                                <input asp-for="Batchno" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-1">
                                <label asp-for="SummaryDetail" class="form-label">Summary/Detail</label>
                                <select class="form-select" asp-for="SummaryDetail" onchange="GetSearchData();">
                                    <option>-Select-</option>
                                    <option value="Summary" selected>Summary</option>
                                    <option value="Detail">Detail</option>
                                </select>
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                <label class="form-label">Global search</label>
                                <input type="text" class="form-control" asp-for="Searchbox" id="search-box" style="background-color:#FFFACD" placeholder="Search...">
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end mt-3">
                                <button class="btn btn-sm btn-outline-info" type="button" onclick="GetSearchData();">
                                    <i class="fa-solid fa-magnifying-glass fa-fw fa-lg "></i>SEARCH
                                </button>
                                <button class="btn btn-sm btn-outline-success me-3" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="btnGridExcel">
                                    <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                                </button>
                                <a class="btn btn-sm btn-outline-danger" asp-controller="InterStoreTransfer" asp-action="Dashboard">
                                    <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                </a>
                                <button class="btn btn-sm btn-outline-danger" style="padding:3px; height:30px; width:100px; margin-left:20px;" type="button" id="sendToPDF">
                                    <i class="fa-solid fa-file-pdf fa-fw fa-lg"></i> PDF
                                </button>
                                @*<div class="ms-auto d-flex align-items-center">
                                    <div class="col-auto">
                                        <label class="form-label me-2">Global search</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control" id="search-box" placeholder="Search..." style="background-color:#FFFACD;">
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body pb-0 pt-0">
            <div class="progress" style="height: 4px;">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body" id="divDashboardGrid">
                    <partial name="_ISTDashboardGrid" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            GetFormRights();
            var fromDateBack = sessionStorage.getItem('FromDateBack');
            var toDateBack = sessionStorage.getItem('ToDateBack');
            var SlipNoBack = sessionStorage.getItem('SlipNoBack');
            var BatchNoBack = sessionStorage.getItem('BatchNoBack');
            var PartCodeBack = sessionStorage.getItem('PartCodeBack');
            var ItemNameBack = sessionStorage.getItem('ItemNameBack');
            var GlobalSearchBack = sessionStorage.getItem('GlobalSearchBack');
            var DashboardTypeBack = sessionStorage.getItem('DashboardTypeBack');

            var CurrentDate = new Date();

            CurrentDate.setDate(1);
            var formattedDate = new Intl.DateTimeFormat('en-GB', {
                day: '2-digit',
                month: '2-digit',
                year: 'numeric'
            }).format(CurrentDate);

            $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", formattedDate);
            $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');

            $('#PartCode').rules('remove', 'required');

            AutoComplete('VWorkorderMainDetail', 'WONO', 'WONO', null);
            AutoComplete('VWorkorderMainDetail', 'CC', 'cc', null);
            AutoComplete('VWorkorderMainDetail', 'SONO', 'SONO', null);
            AutoComplete('VWorkorderMainDetail', 'SchNo', 'SchNo', null);
            AutoComplete('VWorkorderMainDetail', 'AccountName', 'Account_Name', null);
            AutoComplete('VWorkorderMainDetail', 'PartCode', 'PartCode', null);
            AutoComplete('VWorkorderMainDetail', 'ItemName', 'ItemName', null);

            if (fromDateBack != null && fromDateBack != '') {

                $('#FromDate').val(fromDateBack);
                $('#ToDate').val(toDateBack);
                $('#BatchNo').val(BatchNoBack);
                $('#SlipNo').val(SlipNoBack);
                $('#PartCode').val(PartCodeBack);
                $('#ItemName').val(ItemNameBack);
                $('#search-box').val(GlobalSearchBack);
                $('#SummaryDetail').val(DashboardTypeBack);
            }
            GetSearchData();
            $("#search-box").val($('#search-box').val()).trigger('keyup');

            sessionStorage.removeItem('FromDateBack');
            sessionStorage.removeItem('ToDateBack');
            sessionStorage.removeItem('SlipNoBack');
            sessionStorage.removeItem('BatchNoBack');
            sessionStorage.removeItem('PartCodeBack');
            sessionStorage.removeItem('ItemNameBack');
            sessionStorage.removeItem('DocTypeBack');
            sessionStorage.removeItem('GlobalSearchBack');
            sessionStorage.removeItem('DashboardTypeBack');
        });

        function GetFormRights() {

            $.ajax({
                url: "@Url.Action("GetFormRights")",
                type: "POST",
                async: false,
                success: function (data) {

                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.Result.Table.length == 0) {
                            var rowCounter = $('#gateDashboardtable tr').length;
                            for (var i = 0; i < rowCounter; i++) {
                                $('#viewCursorDiv-' + i).empty();
                                $('#viewCursorDiv-' + i).append(`<a class="table-link link-success noCursor" id="viewNoCursor"">
                                                                                                                <span class="fa-stack">
                                                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                                                    <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                                                                                                </span>
                                                                                                            </a>`);
                            }
                            for (var i = 0; i < rowCounter; i++) {
                                $('#editCursorDiv-' + i).empty();
                                $('#editCursorDiv-' + i).append(`<a class="table-link link-primary noCursor">
                                                                                                                        <span class="fa-stack">
                                                                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                                                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                                                                        </span>
                                                                                                                    </a>`);
                            }
                            for (var i = 0; i < rowCounter; i++) {
                                $('#deleteCursorDiv-' + i).empty();
                                $('#deleteCursorDiv-' + i).append(`<a class="table-link link-danger noCursor">
                                                                                                                        <span class="fa-stack">
                                                                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                                                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                                                                                        </span>
                                                                                                                    </a>`);
                            }
                            $("#divDashboardGrid").css("display", "none");
                            $(".totalrows").css("display", "none");
                            $("#SParam").hide();
                        } else {

                            var optAll = obj.Result.Table[0].OptAll;
                            var optSave = obj.Result.Table[0].OptSave;
                            var optUpdate = obj.Result.Table[0].OptUpdate;
                            var optDelete = obj.Result.Table[0].OptDelete;
                            var optView = obj.Result.Table[0].OptView;
                            var rowCounter = $('#divDashboardGrid tr').length;
                            if (!optAll) {
                                if (!optSave) {

                                    $("#savebtn").css("pointer-events", "none");
                                } else {
                                    $("#savebtn").css("pointer-events", "");
                                }
                                if (!optView) {

                                    for (var i = 0; i < rowCounter; i++) {
                                        $('#viewCursorDiv-' + i).empty();
                                        $('#viewCursorDiv-' + i).append(`<a class="table-link link-success noCursor" id="viewNoCursor"">
                                                                                <span class="fa-stack">
                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                    <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                                                                </span>
                                                                            </a>`);
                                    }
                                }
                                if (!optUpdate) {
                                    for (var i = 0; i < rowCounter; i++) {
                                        $('#editCursorDiv-' + i).empty();
                                        $('#editCursorDiv-' + i).append(`<a class="table-link link-primary noCursor">
                                                                                <span class="fa-stack">
                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                                </span>
                                                                            </a>`);
                                    }
                                }
                                if (!optDelete) {
                                    for (var i = 0; i < rowCounter; i++) {
                                        $('#deleteCursorDiv-' + i).empty();
                                        $('#deleteCursorDiv-' + i).append(`<a class="table-link link-danger noCursor">
                                                                                <span class="fa-stack">
                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                    <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                                                </span>
                                                                            </a>`);
                                    }
                                }
                                if (!(optUpdate || optDelete || optView)) {
                                    $("#divDashboardGrid").css("display", "none");
                                    $(".totalrows").css("display", "none");
                                    $("#SParam").hide();
                                }
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }


        function GetSearchData() {
             
            var data = $('#SParam').serialize();
            $.ajax({
                url: '@Url.Action("GetSearchData")',
                type: "POST",
                async:false,
                data: $('#SParam').serializeArray(),
                success: function (data) {
                     
                    $('#divDashboardGrid').empty().append(data);
                    // RowCount();
                    GetFormRights();
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }
        $('#sendToPDF').click(async function () {

            const { jsPDF } = window.jspdf;
            const doc = new jsPDF({ orientation: 'landscape', unit: 'pt', format: 'a4' });

            var fromDate = $('#FromDate').val();
            var toDate = $('#ToDate').val();
            var slipNo = $('#SlipNo').val();
            var partCode = $('#PartCode').val();
            var itemName = $('#ItemName').val();
            var batchNo = $('#Batchno').val();
            var summaryDetailText = $('#SummaryDetail option:selected').text();
            var summaryDetailValue = $('#SummaryDetail').val();



            // Report Title
            doc.setFontSize(16).text(summaryDetailText, 40, 40);

            // Date Range
            doc.setFontSize(10).text(`For the duration From: ${fromDate}`, 40, 58);

            let currentY = 75;
            const headerFields = [

            ];

            // Filter out any fields with empty values
            const filled = headerFields.filter(field => field.value);

            // If there is at least one non-empty value, print the header
            if (filled.length > 0) {
                filled.forEach(field => {
                    doc.setFontSize(10)
                        .text(`${field.label}: ${field.value}`, 40, currentY);
                    currentY += 15;
                });
            }

            // Fetch data
            /* var resp = await fetch('/SaleBillRegister/GetSaleBillRegistergridData');
            va r rows = await resp.json();*/

            var resp = await fetch('/InterStoreTransfer/GetInterStoreDashboardListForPDF');

            if (!resp.ok) {
                console.error("Fetch failed with status:", resp.status);
                const errorText = await resp.text(); // Log full error
                console.error("Error body:", errorText);
                return; // Exit early
            }

            var rows = await resp.json();


            // Declare headers and body
            let headers = [];
            let body = [];

            // Handle report type logic
            switch (summaryDetailValue) {
                case 'Summary':/*done*/
                    headers = [
                        "#Sr", "Slip No", "Slip Date", "IssuetoStoreWc", "From StoreName", "To StoreName", "To WCName",
                        "Remark", "EntryId", "YearCode", "EntrDate", "Actual EntryBy", "Actual EntryDate",
                        "Last UpdatedBy", "Last UpdatedDate", "Branch", "Machine Name"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.slipNo, item.slipDate?.split(" ")[0] ?? "", item.issueToStoreWC, item.fromStoreName, item.toStorename,
                        item.toWCName, item.remark, item.entryId, item.yearCode, item.entryDate?.split(" ")[0] ?? "", item.actualEntryByName,
                        item.actualEntryDate?.split(" ")[0] ?? "", item.lastUpdatedByName, item.lastUpdatetionDate?.split(" ")[0] ?? "", item.cc, item.machineName
                    ]);

                    columnStyles = {
                        0: { cellWidth: 15 },   // S.No.
                        1: { cellWidth: 60 },   // Slip No
                        2: { cellWidth: 40 },   // Slip Date
                        3: { cellWidth: 50 },   // IssueToStoreWC
                        4: { cellWidth: 50 },   // From Store Name
                        5: { cellWidth: 50 },   // To Store Name
                        6: { cellWidth: 45 },   // To WC Name
                        7: { cellWidth: 60 },   // Remark
                        8: { cellWidth: 25 },   // EntryId
                        9: { cellWidth: 25 },   // YearCode
                        10: { cellWidth: 40 },  // Entry Date
                        11: { cellWidth: 60 },  // Actual Entry By
                        12: { cellWidth: 40 },  // Actual Entry Date
                        13: { cellWidth: 60 },  // Last Updated By
                        14: { cellWidth: 40 },  // Last Updated Date
                        15: { cellWidth: 30 },  // CC (Branch)
                        16: { cellWidth: 40 }   // Machine Name
                    };
                    break;
               

                default:
                    $.notify(summaryDetailValue + " report has no data to display!", "error");
                    return;
            }

            // Generate table with custom column width handling
            doc.autoTable({
                startY: currentY + 15,
                head: [headers],
                body: body,
                styles: { cellWidth: 'wrap' },
                theme: 'grid',
                margin: { left: 40, right: 40 },
                styles: {
                    fontSize: 7,
                    cellPadding: 1,
                    overflow: 'linebreak',
                    halign: 'center',
                    valign: 'middle'
                },
                headStyles: {
                    fillColor: [41, 128, 185],
                    textColor: 255,
                    fontStyle: 'bold'
                },
                tableWidth: 'auto',
                columnStyles: columnStyles,
                showHead: 'everyPage'
            });

            // Save the PDF
            doc.save(`PO_${summaryDetailValue.replace(/\s+/g, '_')}.pdf`);

        });

        var currentSearchColumn = null;

        $("#search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#ISTDashboardGrid tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });


        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#search-box").val('').trigger('keyup');
        });

        $(document).on("click", ".sortCol", function () {
            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');
            if (currentOrder === 'asc') {
                sortTable('ISTDashboard',colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow');
                //$(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable('ISTDashboard',colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });

        function confirmdelete(event,element) {
            event.preventDefault();

            var urlHref = $(event.currentTarget).attr("href");
            if (confirm("Are you sure you want to delete this entry?")) {
                CheckIssuedTransStock(event, element, urlHref);
                //var linkurl = $(event.currentTarget).attr("href");
                //linkurl = linkurl + "&FromDate=" + $('#FromDate').val() + "&ToDate=" + $('#ToDate').val() + "&SlipNo=" + $('#SlipNo').val() + "&PartCode=" + $('#PartCode').val() + "&ItemName=" + $('#ItemName').val() + "&BatchNo=" + $('#Batchno').val() + "&SummaryDetail=" + $('#SummaryDetail').val();

                //window.location.replace(linkurl);
            }
        }

        function BackButtonData(event,EntryId,YearCode){
             
            event.preventDefault();
            var urlHref = $(event.currentTarget).attr("href");
            var linkurl = urlHref;
            linkurl = linkurl + "&FromDate=" + $('#FromDate').val() + "&ToDate=" + $('#ToDate').val() + "&SlipNo=" + $('#SlipNo').val() + "&PartCode=" + $('#PartCode').val() + "&ItemName=" + $('#ItemName').val() + "&BatchNo=" + $('#Batchno').val() + "&SummaryDetail=" + $('#SummaryDetail').val() + "&Searchbox=" + $('#search-box').val();
            window.location.href = linkurl;
        }

        function CheckIssuedTransStock(event, element, urlHref) {
            event.preventDefault();
            var itemCode = element.getAttribute('data-itemcode');
            var yearCode = element.getAttribute('data-yearcode');
            var entryId = element.getAttribute('data-entryid');
            var slipDate = element.getAttribute('data-slipdate');
            var slipNo = element.getAttribute('data-slipno');
            var toStoreId = element.getAttribute('data-tostoreid');
            var toWCID = element.getAttribute('data-towcid');
            var batchNo = element.getAttribute('data-batchno');
            var uniqueBatchNo = element.getAttribute('data-uniquebatchno');
            var StoreWC = 0;
            var Flag = "";
            if (toStoreId == 0) {
                StoreWC = toStoreId;
                Flag = "CHECKFORINTERSTORE";
            }else{
                StoreWC = toWCID;
                Flag = "CHECKFORWORKCENTERINTERSTORE";
            }
            $.ajax({
                url: '@Url.Action("CheckIssuedTransStock")',
                type: "POST",
                data: {
                    "ItemCode": itemCode,
                    "YearCode": yearCode,
                    "EntryId": entryId,
                    "TransDate": slipDate,
                    "TransNo": slipNo,
                    "Storeid": StoreWC,
                    "batchno": batchNo,
                    "Uniquebatchno": uniqueBatchNo,
                    "Flag": Flag
                },
                async:false,
                success: function (data) {
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            if (obj.Result[0].Status == ''){
                                var linkurl = urlHref;
                                linkurl = linkurl + "&FromDate=" + $('#FromDate').val() + "&ToDate=" + $('#ToDate').val() + "&SlipNo=" + $('#SlipNo').val() + "&PartCode=" + $('#PartCode').val() + "&ItemName=" + $('#ItemName').val() + "&BatchNo=" + $('#Batchno').val() + "&SummaryDetail=" + $('#SummaryDetail').val() + "&Searchbox=" + $('#search-box').val();
                                window.location.href = linkurl;
                            }else{
                                var Status = obj.Result[0].Status;
                                $.notify( Status , "error");
                                return false;
                            }
                        }else{
                            var linkurl = urlHref;
                            linkurl = linkurl + "&FromDate=" + $('#FromDate').val() + "&ToDate=" + $('#ToDate').val() + "&SlipNo=" + $('#SlipNo').val() + "&PartCode=" + $('#PartCode').val() + "&ItemName=" + $('#ItemName').val() + "&BatchNo=" + $('#Batchno').val() + "&SummaryDetail=" + $('#SummaryDetail').val() + "&Searchbox=" + $('#search-box').val();
                            window.location.href = linkurl;
                        }
                    }

                },
                error: function (response) {
                    alert("Error: " + response.responseText);
                },
                failure: function (response) {
                    alert("Failure: " + response.responseText);
                }
            });

        }


        $("#btnGridExcel").click(function () {
            const table = document.querySelector(".ISTDashboard");
            const rows = table.querySelectorAll("tr");
            const data = [];

            const headerRow = rows[0];
            const headerData = [];

            headerRow.querySelectorAll("th").forEach((cell) => {
                // cell.style.backgroundColor = "#fcba03";
                headerData.push(cell.textContent);
            });

            data.push(headerData);

            for (let i = 1; i < rows.length; i++) {
                const rowData = [];
                rows[i].querySelectorAll("td").forEach((cell) => {
                    rowData.push(cell.textContent);
                });
                data.push(rowData);
            }

            const ws = XLSX.utils.aoa_to_sheet(data);

            ws["!cols"] = [{ wch: 15 }, { wch: 15 }, { wch: 15 }, /* ... */];

            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, "Sheet 1");


            XLSX.writeFile(wb, "ISTDashboard.xlsx");
        });

        function selection(CurrentRow) {
             
            $(CurrentRow).css({ 'background-color': '#00bcd4' });

            $("#ISTDashboardGrid tr").not(CurrentRow).css({ 'background-color': '' });
        }

    </script>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>

}