@model eTactWeb.DOM.Models.SSDashboard

@{
    ViewData["Title"] = "Amendment";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="shadow-lg">
    <div class="card rounded border-light bg-gradient">
        <div class="card-header card-headerBG text-light bg-gradient">
            <h5>
                Sale Schedule Amendment- <strong>Dashboard</strong>
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-action="SaleSchedules" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                        <i class="fa fa-plus-circle fafw fa-lg" aria-hidden="true"></i>
                        Add New
                    </a>
                </span>
            </h5>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body">
                    <form id="SParam">
                        <div class="row">
                            <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <label asp-for="CustomerName" class="form-label">Customer Name</label>
                                <input asp-for="CustomerName" class="form-control" />
                            </div>
                            <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label asp-for="CustomerOrderNo" class="form-label">Customer Order</label>
                                <input asp-for="CustomerOrderNo" class="form-control" />
                            </div>
                            <div class="col-xxl-1 col-xl-1 col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <label asp-for="SONO" class="form-label">SO No</label>
                                <select class="form-select" asp-for="SONO" asp-items="@(new SelectList(Model.SONoList,"Value","Text"))">
                                    <option value=0>-Select-</option>
                                </select>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">From Date</label>
                                        <input asp-for="FromDate" maxlength="10" class="form-control" />
                                    </div>
                                    <div class="col">
                                        <label class="form-label">To Date</label>
                                        <input asp-for="ToDate" maxlength="10" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-3 justify-content-center mt-3">
                                <button class="btn btn-sm btn-outline-info me-3" type="button" onclick="GetSearchData();">
                                    <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>SEARCH
                                </button>
                                <button class="btn btn-sm btn-outline-success me-3" style="padding:3px;height:30px;width:100px;" type="button" id="SSDashsendToExcel">
                                    <i class="fa-solid fa-upload fa-fw fa-lg"></i>EXCEL
                                </button>
                                <a class="btn btn-sm btn-outline-danger" asp-controller="SaleSchedule" asp-action="SSAmmCompleted">
                                    <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                </a>

                            </div>
                            <div class="ms-auto col-xxl-1 text-end justify-content-end mt-3">
                                <label class="form-label me-2">Global search</label>
                            </div>
                            <div class="ms-auto col-xxl-2 align-items-center mt-3">
                                <input type="text" class="form-control" id="search-box" placeholder="Search...">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="card-body pb-0 pt-0">
            <div class="progress" style="height: 4px;">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body" id="divSSComDashboardGrid">
                    <partial name="_SSAmmListGrid" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(function () {
            var date = new Date();
            date.setMonth(date.getMonth());
            date.setDate(1);
            $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", date);
            $("#FromDate").on('keydown', function (e) { e.preventDefault(); return false; });
            $("#ToDate").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#ToDate").on('keydown', function (e) { e.preventDefault(); return false; });
            AutoComplete('VSALESCHEDULE', 'CustomerName', 'CustomerName', null);
            AutoComplete('VSALESCHEDULE', 'CustOrderNo', 'CustomerOrderNo', null);
            AutoComplete('VSALESCHEDULE', 'ItemName', 'ItemName', null);
        });

        //function GetAmmSearchData() {
        //    var AmmType = $('#AmmType').val();
        //    if (AmmType == 'newAmm') {
        //        GetNewAmmData();
        //    } else {
        //        GetUpdAmmData();
        //    }
        //}
        function GetSearchData() {
            $.ajax({
                url: '@Url.Action("GetAmmCompSearchData")',
                type: "POST",
                data: $('#SParam').serializeArray(),
                success: function (data) {
                    $('#divSSComDashboardGrid').empty().append(data);
                    var dashgridCols = $('#SSDashboardGrid tr td').length;

                    var dashGrid = $('#SSDashboardGrid tr').length - 1;
                    //if (dashgridCols > 1) {
                    //    $('#totalRows').text(dashGrid);
                    //}
                    //else {

                    //    $('#totalRows').text(0);
                    //}
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }

        var currentSearchColumn = null;

        $("#search-box").on("keyup", function () {
             
            var value = $(this).val().toLowerCase();
            $(".divSSAGrid tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });


        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#search-box").val('').trigger('keyup');
        });



        $(document).on("click", ".sortCol", function () {
             ;
            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');

            if (currentOrder === 'asc') {
                sortTable(colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow');
                //$(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable(colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });

        function sortTable(columnIndex, ascending) {
             
            var table = $('#SSDashboardGrid');
            var rows = table.find('.divSSAGrid > tr').toArray();

            rows.sort(function (a, b) {
                var aValue = $(a).find('td').eq(columnIndex).text();
                var bValue = $(b).find('td').eq(columnIndex).text();

                var aIntValue = 0;
                var bIntValue = 0;
                if (/^\d+$/.test(aValue) && /^\d+$/.test(bValue)) {
                    aIntValue = parseInt(aValue, 10);
                    bIntValue = parseInt(bValue, 10);
                }

                if (aIntValue > 0) {
                    if (ascending) {
                        return aValue - bValue;
                    } else {
                        return bValue - aValue;
                    }
                } else {
                    if (ascending) {
                        return aValue.localeCompare(bValue);
                    } else {
                        return bValue.localeCompare(aValue);
                    }
                }
            });

            $.each(rows, function (index, row) {
                table.children('#divSSAGrid').append(row);
            });
        }
        $('#SSDashsendToExcel').click(function () {
            $("#divSSComDashboardGrid").table2excel({
                filename: "SaleSchAmmDashboard.xls"
            });
        });
    </script>
    <script src="~/Scripts/table2excel.js"></script>
}