<div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" id="opnStkDiv">
    <label class="form-label">Total POValue</label>
    <input id="ToTalPOValue" class="form-control" readonly />
</div>
<div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" id="opnStkDiv">
    <label class="form-label">Total RECQty</label>
    <input id="ToTalRECQty" class="form-control" readonly />
</div>
<div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" id="opnStkDiv">
    <label class="form-label">Total RecValue</label>
    <input id="ToTalRecValue" class="form-control" readonly />
</div>
<div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" id="opnStkDiv">
    <label class="form-label">Total QCOKQty</label>
    <input id="ToTalQCOKQty" class="form-control" readonly />
</div>
<div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" id="opnStkDiv">
    <label class="form-label">Total QCOKQty</label>
    <input id="ToTalBalQty" class="form-control" readonly />
</div>
<div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" id="opnStkDiv">
    <label class="form-label">Total QCOKQty</label>
    <input id="ToTalBalValue" class="form-control" readonly />
</div>       