@model eTactWeb.DOM.Models.PORegisterModel
@{
    ViewData["Title"] = "PO Register";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>

    .select2-container--default .select2-selection--single {
        background-color: #e0f2f1;
        border: 1.5px solid #0a0a0a !important;
        border-radius: 4px;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            /* border-bottom: 1.5px solid #000 !important; */
            border-bottom: none !important;
        }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #e0f2f1; /* Dropdown background color */
        color: #000;
</style>

<div class="card bg-gradient mb-3 border-light shadow-lg">

    <div class="card-header card-headerBG text-light bg-gradient">
        <h5>
            <strong>PO Register</strong>
            <span class="d-flex float-end" style="margin-top:-2px;">
            </span>
        </h5>
    </div>
    <div>
    </div>
    <div class="card-body bg-light pt-0">
        <div class="accordion shadow-lg">
            <div class="card-body">
                <div class="card overflow-auto">
                    <div class="card-body">
                        <form id="SParam">
                            <div class="row">
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">From Date</label>
                                            <input asp-for="FromDate" class="form-control" />
                                        </div>
                                        <div class="col">
                                            <label class="form-label">To Date</label>
                                            <input asp-for="ToDate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="PartyName" class="form-label">PartyName</label>
                                    <input asp-for="PartyName" class="form-control" />
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="PartCode" class="form-label">PartCode</label>
                                    <input asp-for="PartCode" class="form-control" />
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="ItemName" class="form-label">Item Name</label>
                                    <input asp-for="ItemName" class="form-control" />
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="PONO" class="form-label">PONO</label>
                                    <input asp-for="PONO" class="form-control" />
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="SchNo" class="form-label">Sch No</label>
                                    <input asp-for="SchNo" class="form-control" />
                                </div>

                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="OrderType" class="form-label">OrderType</label>
                                    <input asp-for="OrderType" class="form-control" />
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="POFor" class="form-label">POFor</label>
                                    <input asp-for="POFor" class="form-control" />
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="ItemGroup" class="form-label">Item Group</label>
                                    <input asp-for="ItemGroup" class="form-control" />
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="ItemType" class="form-label">Item Type</label>
                                    <input asp-for="ItemType" class="form-control" />
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="ReportMode" class="form-label">Report Type</label>
                                    <select asp-for="ReportMode" class="form-select" onchange="GetPORegisterData();UpdateAccordionHeader();">
                                        <option disabled value="">-Select-</option>
                                        <option selected value="LIST OF PO">LIST OF PO</option>
                                        <option value="List of PO With Item">List of PO With Item</option>
                                        <option value="PO vs Receiving Detail ( GateMRNQC)">PO vs Receiving Detail ( GateMRNQC)</option>
                                        <option value="LISTOFSCHEDULE">LIST OF SCHEDULE</option>
                                        <option value="SUMM">PURCHASE ORDER SUMMARY</option>
                                        <option value="SUMMRATEING">SUMMARY RATING</option>
                                        <option value="CONSOLIDATED">CONSOLIDATED</option>
                                        <option value="PARTYWISECONSOLIDATED">PARTY WISE CONSOLIDATED</option>
                                        <option value="ITEMWISECONSOLIDATED">ITEM WISE CONSOLIDATED</option>
                                        <option value="DETAIL">PO RATE ANALYSIS</option>
                                        <option value="PRICEHISTORY">PRICE HISTORY</option>
                                        <option value="Order vs Dispatch">Order vs Dispatch</option>
                                    </select>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label class="form-label">Global search</label>
                                    <input id="search-box" class="form-control" style="background-color: #FFFACD;" placeholder="Search..." />
                                </div>
                                <div class=" d-flex justify-content-center mt-3" width="inherit">
                                    <div class="p-3 border rounded me-3" style="min-width: 220px;" id="activePOSection">
                                        <label class="form-label d-block mb-2 fw-bold">Show Active PO</label>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input " type="radio" asp-for="showOnlyActivePO" id="showOnlyActivePOYes" value="Y">
                                            <label class="form-check-label" for="showOnlyActivePOYes">Active Po</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" asp-for="showOnlyActivePO" id="showOnlyActivePONo" value="N">
                                            <label class="form-check-label" for="showOnlyActivePONo">InActive Po</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" asp-for="showOnlyActivePO" id="showOnlyActivePOAll" value="A" checked>
                                            <label class="form-check-label" for="showOnlyActivePOAll">All</label>
                                        </div>
                                    </div>
                                    <div class="p-3 border rounded me-3" style="min-width: 220px;" id="closedPOSection">
                                        <label class="form-label d-block mb-2 fw-bold">Show Closed PO</label>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input showClosedPO" type="radio" asp-for="showClosedPO" id="showClosedPOYes" value="Y">
                                            <label class="form-check-label" for="showClosedPOYes">Close Po</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input showClosedPO" type="radio" asp-for="showClosedPO" id="showClosedPONo" value="N">
                                            <label class="form-check-label" for="showClosedPONo">OPen Po</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input showClosedPO" type="radio" asp-for="showClosedPO" id="showClosedPOAll" value="A" checked>
                                            <label class="form-check-label" for="showClosedPOAll">All</label>
                                        </div>
                                    </div>


                                    <div class="p-3 border rounded me-3" style="min-width: 250px;" id="completedPOSection">
                                        <label class="form-label d-block mb-2 fw-bold">Show Only Completed PO</label>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input showPOFilter" type="radio" asp-for="showOnlyCompletedPO" id="showOnlyCompletedPOYes" value="Y">
                                            <label class="form-check-label" for="showOnlyCompletedPOYes">Completed</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input showPOFilter" type="radio" asp-for="showOnlyCompletedPO" id="showOnlyCompletedPONo" value="N">
                                            <label class="form-check-label" for="showOnlyCompletedPONo">Pending</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input showPOFilter" type="radio" asp-for="showOnlyCompletedPO" id="showOnlyCompletedPOAll" value="A" checked>
                                            <label class="form-check-label" for="showOnlyCompletedPOAll">All</label>
                                        </div>

                                    </div>

                                   
                                    <button class="btn btn-sm btn-outline-info" type="button" style="padding:0px;height:30px;width:100px;" onclick="GetPORegisterData();">
                                        <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>SEARCH
                                    </button>
                                    <button class="btn btn-sm btn-outline-success" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="sendToExcel">
                                        <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                                    </button>
                                    <button class="btn btn-sm btn-outline-danger" style="padding:3px; height:30px; width:100px; margin-left:20px;" type="button" id="sendToPDF">
                                        <i class="fa-solid fa-file-pdf fa-fw fa-lg"></i> PDF
                                    </button>
                                    <a class="btn btn-sm btn-outline-danger" style="padding:3px;height:30px;width:100px;margin-left:20px;" asp-controller="PORegister" asp-action="PORegister">
                                        <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                    </a>
                                </div>
                            </div>
                            <div class="progress my-2 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="H_SAGrid">
                                    <button class="accordion-button text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                                        <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>PO/Sch List</strong>
                                    </button>
                                </h2>

                                <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradient show" aria-labelledby="H_SAGrid">
                                    <div class="accordion-body">
                                        <div class="card-body" id="divPendingMRP">
                                            <div class="row">
                                                <div class="col-md-12 divStockRegister" id="divPORegister">
                                                    <partial name="_PORegisterGrid" />
                                                </div>

                                            </div>
                                        </div>
                                        <div style="display:flex">
                                            <div class="col-xxl-1 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total POQty</label>
                                                <input id="ToTalQty" class="form-control" readonly style="width:97px" />
                                            </div>
                                            <div class="row" id="TOTALDetailData">
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total BillQty</label>
                                                    <input id="ToTalBillQty" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total RECQty</label>
                                                    <input id="ToTalRECQtyDetail" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total Acc Qty</label>
                                                    <input id="ToTalAcceptedQty" class="form-control" readonly />
                                                </div>
                                            </div>
                                            <div class="row" id="TOTALSUMRatingdata">
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total POValue</label>
                                                    <input id="ToTalPOValue" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total RecQty</label>
                                                    <input id="ToTalRECQty" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total RecValue</label>
                                                    <input id="ToTalRecValue" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total QCOKQty</label>
                                                    <input id="ToTalQCOKQty" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total BalQty</label>
                                                    <input id="ToTalBalQty" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total BalValue</label>
                                                    <input id="ToTalBalValue" class="form-control" readonly />
                                                </div>
                                            </div>
                                            <div class="row" id="TotalPOSummary">
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total POValue</label>
                                                    <input id="ToTalPOValueSum" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total RecQty</label>
                                                    <input id="ToTalRECQtySum" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total QCOKQty</label>
                                                    <input id="ToTalQCOKQtySum" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total PendQty</label>
                                                    <input id="ToTalPendQty" class="form-control" readonly />
                                                </div>
                                            </div>

                                            <div class="row" id="TotalConsolidated">
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total RecQty</label>
                                                    <input id="ToTalRECQtyConsoled" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total QCOKQty</label>
                                                    <input id="ToTalQCOKQtyConsoled" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total PendQty</label>
                                                    <input id="ToTalPendQtyConsoled" class="form-control" readonly />
                                                </div>
                                            </div>

                                            <div class="row" id="TotalItemConsoled">
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total POValue</label>
                                                    <input id="ToTalPOValueItemConsoled" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total RecQty</label>
                                                    <input id="ToTalRECQtyItemConsoled" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total RecValue</label>
                                                    <input id="ToTalRecValueItemConsoled" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total QCOKQty</label>
                                                    <input id="ToTalQCOKQtyItemConsoled" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                    <label class="form-label">Total PendQty</label>
                                                    <input id="ToTalPendQtyItemConsoled" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            GetServerDate();
            $('#ReportMode').select2();
            AutoComplete('Item_Master_Type', 'ItemType', 'Type_Item', null);
            AutoComplete('Account_Head_Master', 'PartyName', 'Account_Name', null);
            AutoComplete('purchaseScheduleMain', 'SchNo', 'ScheduleNo', null);
            AutoComplete('VPURCHASEORDER', 'PONO', 'PONo', null);
            AutoComplete('VItemGroupMaster', 'ItemGroup', 'Group_name', null);
            AutoComplete('VItemMaster', 'ItemName', 'Item_Name', null);
            AutoComplete('VItemMaster', 'PartCode', 'PartCode', null);
            AutoComplete('VPURCHASEORDER', 'OrderType', 'OrderType', null);
            AutoComplete('VPURCHASEORDER', 'POFor', 'POFor', null);
            GetPORegisterData();
            $('#TOTALSUMRatingdata').hide();
            $('#TOTALDetailData').hide();
            $('#TotalPOSummary').hide();
            $('#TotalConsolidated').hide();
            $('#TotalItemConsoled').hide();
            var initialMode = $("#ReportMode").val();
            togglePOSections(initialMode);
            $('#ReportMode').change(function () {
                var selectedValue = $(this).val();
                if (selectedValue === 'SUMMRATEING') {
                    $('#TOTALSUMRatingdata').show();
                    $('#TOTALDetailData').hide();
                    $('#TotalPOSummary').hide();
                    $('#TotalItemConsoled').hide();
                    $('#TotalConsolidated').hide();

                }
                else if (selectedValue === 'DETAIL') {
                    $('#TOTALDetailData').show();
                    $('#TOTALSUMRatingdata').hide();
                    $('#TotalPOSummary').hide();
                    $('#TotalConsolidated').hide();

                    $('#TotalItemConsoled').hide();

                } else if (selectedValue === 'SUMM') {
                    $('#TotalPOSummary').show();
                    $('#TOTALSUMRatingdata').hide();
                    $('#TOTALDetailData').hide();
                    $('#TotalConsolidated').hide();

                    $('#TotalItemConsoled').hide();

                } else if (selectedValue === 'CONSOLIDATED' || selectedValue == 'PARTYWISECONSOLIDATED') {
                    $('#TotalConsolidated').show();
                    $('#TOTALSUMRatingdata').hide();
                    $('#TOTALDetailData').hide();
                    $('#TotalItemConsoled').hide();

                } else if (selectedValue === 'ITEMWISECONSOLIDATED') {
                    $('#TotalItemConsoled').show();
                    $('#TotalConsolidated').hide();
                    $('#TOTALSUMRatingdata').hide();
                    $('#TOTALDetailData').hide();

                } else {
                    $('#TOTALSUMRatingdata').hide();
                    $('#TOTALDetailData').hide();
                    $('#TotalPOSummary').hide();
                    $('#TotalConsolidated').hide();
                    $('#TotalItemConsoled').hide();

                }
            });
            $("#ReportMode").change(function () {
                var selectedMode = $(this).val();
                togglePOSections(selectedMode);
            });
            function togglePOSections(reportMode) {
                if (reportMode === "LISTOFPO") {
                    $("#activePOSection").hide();      
                    $("#closedPOSection").show();     
                    $("#completedPOSection").hide();   
                }
                else if (reportMode === "LISTOFSCHEDULESUMMARY") {
                    $("#activePOSection").show();      
                    $("#closedPOSection").hide();     
                    $("#completedPOSection").hide();   
                }
                else if (reportMode === "LISTOFSCHEDULE") {
                    $("#activePOSection").hide();      
                    $("#closedPOSection").show();     
                    $("#completedPOSection").hide();   
                }
                else if (reportMode === "SUMM") {
                    $("#activePOSection").show();      
                    $("#closedPOSection").hide();     
                    $("#completedPOSection").show();   
                }
                else if (reportMode === "DETAIL") {
                    $("#activePOSection").show();      
                    $("#closedPOSection").hide();     
                    $("#completedPOSection").hide();   
                }
                else if (reportMode === "CONSOLIDATED") {
                    $("#activePOSection").hide();      
                    $("#closedPOSection").hide();     
                    $("#completedPOSection").show();   
                }
                else if (reportMode === "PARTYWISECONSOLIDATED") {
                    $("#activePOSection").hide();      
                    $("#closedPOSection").hide();     
                    $("#completedPOSection").show();   
                }
                else if (reportMode === "ITEMWISECONSOLIDATED") {
                    $("#activePOSection").hide();      
                    $("#closedPOSection").hide();     
                    $("#completedPOSection").show();   
                }
                
                else {
                    $("#activePOSection").hide();      
                    $("#closedPOSection").hide();
                    $("#completedPOSection").hide();
                }
            }
            $('.showPOFilter').change(function () {
                var filter = $(this).val(); // Y / N / A
                var srNo = 1;

                $('#divStockRegisterBody .po-row').each(function () {
                    var pendQty = parseFloat($(this).find('.PendQty').text());

                    if (filter === "Y" && pendQty === 0) {
                        $(this).show();
                        $(this).find('td:eq(1)').text(srNo); // update srNo column
                        srNo++;
                    }
                    else if (filter === "N" && pendQty !== 0) {
                        $(this).show();
                        $(this).find('td:eq(1)').text(srNo); // update srNo column
                        srNo++;
                    }
                    else if (filter === "A") {
                        $(this).show();
                        $(this).find('td:eq(1)').text(srNo); // update srNo column
                        srNo++;
                    }
                    else {
                        $(this).hide();
                    }
                });
            });
            $('.showClosedPO').change(function () {
                var filter = $(this).val(); // Y / N / A
                var srNo = 1;

                $('#divStockRegisterBody .po-row').each(function () {
                    var POtype = $(this).find('.POtype').text().trim(); // get PO type

                    if ((filter === "Y" && POtype === "Close") ||
                        (filter === "N" && POtype === "Open") ||
                        filter === "A") {
                        $(this).show();
                        $(this).find('.sr-no').text(srNo); // update serial number
                        srNo++;
                    } else {
                        $(this).hide();
                    }
                });
            });


        });

        $(document).on("change", "input[name='showOnlyActivePO']", function () {
            var selectedVal = $(this).val();

            if (selectedVal === "Y") {
                $(".sch-fields").hide();
            } else {
                $(".sch-fields").show();
            }
        });
        function UpdateAccordionHeader() {
            var reportType = $('#ReportMode').val();;

            var headerTextMap = {
                "LISTOFPO": "LIST OF PO",
                "LISTOFSCHEDULESUMMARY": "PO Summary",
                "LISTOFSCHEDULE": "Schedule List",
                "SUMM": "Purchase Order Summary",
                "DETAIL": "Purchase Order Detail",
                "SUMMRATEING": "Summary Rating",
                "CONSOLIDATED": "Consolidated",
                "PARTYWISECONSOLIDATED": "Party Wise Consolidated",
                "ITEMWISECONSOLIDATED": "Item Wise Consolidated",
                "PRICEHISTORY": "Price History",
                "Order vs Dispatch": "Order vs Dispatch",
                "PO RATE ANALYSIS": "PO Rate Analysis"
            };

            var accordionStrong = document.querySelector("#H_SAGrid button strong");

            if (accordionStrong && headerTextMap[reportType]) {
                accordionStrong.innerHTML = `<i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i> ${headerTextMap[reportType]}`;
            }
        }
        function selection(CurrentRow) {
             
            $(CurrentRow).css({ 'background-color': '#00bcd4' });
            $("#divStockRegisterBody tr").not(CurrentRow).css({ 'background-color': '' });
        }
        function loadPage(pageNumber) {
             
            var ReportType = $('#ReportMode').val();
            
            var formData = $('#SParam').serializeArray();
            formData.push({ name: 'pageNumber', value: pageNumber });
            formData.push({ name: 'ReportType', value: ReportType });
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetPORegisterData", "PORegister")',
                data: formData,
                success: function (result) {
                    $('#divPORegister').empty();
                    $('#divPORegister').html(result);
                    $('#totalRows').text($('#divPORegister tr').length);
                    //countAllTotal();
                }
            });
        }
        $("#search-box").on("input", function () {
             
            var searchString = $(this).val().trim();
            var dashboardType = $('#ReportMode').val();
            $.ajax({
                url: "/PORegister/GlobalSearch?searchString=" + searchString,
                type: "GET",
                data: { searchString: searchString, dashboardType: dashboardType },
                success: function (data) {

                    $('#divPORegister').empty();
                    $('#divPORegister').html(data);
                    $('#totalRows').text($('#divPORegister tr').length);
                    //countAllTotal();
                },
                error: function () {
                    console.log("Error fetching search results.");
                }
            });
        });
        $('#sendToPDF').click(async function () {
             
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF({ orientation: 'landscape', unit: 'pt', format: 'a4' });

            // Get dynamic values
            var fromDate = $('#FromDate').val();
            var toDate = $('#ToDate').val();

            var reportTypeText = $('#ReportMode option:selected').text();
            var reportTypeValue = $('#ReportMode').val();

            var customerName = $('#PartyName').val(); // Assuming PartyName = CustomerName
            var partCode = $('#PartCode').val();
            var itemName = $('#ItemName').val();
            var pono = $('#PONO').val();
            var schNo = $('#SchNo').val();
            var orderType = $('#OrderType').val();
            var poFor = $('#POFor').val();
            var itemGroup = $('#ItemGroup').val();
            var itemType = $('#ItemType').val();



            // Report Title
            doc.setFontSize(16).text(reportTypeText, 40, 40);

            // Date Range
            doc.setFontSize(10).text(`For the duration From: ${fromDate}     To: ${toDate}`, 40, 58);

            let currentY = 75;
            const headerFields = [

            ];

            // Filter out any fields with empty values
            const filled = headerFields.filter(field => field.value);

            // If there is at least one non-empty value, print the header
            if (filled.length > 0) {
                filled.forEach(field => {
                    doc.setFontSize(10)
                        .text(`${field.label}: ${field.value}`, 40, currentY);
                    currentY += 15;
                });
            }

            // Fetch data
            /* var resp = await fetch('/SaleBillRegister/GetSaleBillRegistergridData');
            va r rows = await resp.json();*/

            var resp = await fetch('/PORegister/GetPORegisterDataForPDF');

            if (!resp.ok) {
                console.error("Fetch failed with status:", resp.status);
                const errorText = await resp.text(); // Log full error
                console.error("Error body:", errorText);
                return; // Exit early
            }

            var rows = await resp.json();


            // Declare headers and body
            let headers = [];
            let body = [];

            // Handle report type logic
            switch (reportTypeValue) {
                case 'SUMM':/*done*/
                     headers = [
                        "#Sr","Vendor", "PONO", "PO Effective Date", "PO End Date", "PO For", "Schedule No", "Schedule Date", "Schedule Year",
                        "Part Code", "Item Name", "Currency", "PO Rate", "PO Qty", "PO Value", "Received Qty", "QC OK Qty",
                        "Pending Qty", "Min Level", "Unit", "Min Level Days", "Item Group", "Item Category"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.vendor, item.poNO, item.poEffDate?.split(" ")[0] || '', item.poEndDate?.split(" ")[0] || '',
                        item.poFOR, item.schNO, item.schdate?.split(" ")[0] || '', item.schYear, item.partCode,
                        item.itemName, item.currency, item.poRate, item.poQty, item.poValue,
                        item.recQty, item.qcOKQty, item.pendQty, item.minLevel, item.unit,
                        item.minlvlDays, item.itemGroup, item.itemCategory
                    ]);
                    break;
                case 'LISTOFPO':
                     headers = [
                        "#Sr","PONO", "PO Date", "PO Type", "PO Qty", "PO Effective Date", "PO Close Date", "POEffective Date",
                        "Order Type", "Vendor", "Part Code", "Item Name", "Unit", "Rate", "Discount %", "Discount Amt",
                        "Item Amount", "Amendt No", "Amend Date", "Ass Rate", "Delivery Terms", "Delivery Date",
                        "PO Qty", "PO For", "Currency"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.pono, item.poDate ? item.poDate.split(" ")[0] : '', item.pOtype, item.poQty,
                        item.poEffDate ? item.poEffDate.split(" ")[0] : '', item.pOclosedate ? item.pOclosedate.split(" ")[0] : '', item.poAmmeffdate ? item.poAmmeffdate.split(" ")[0] : '', item.ordertype, item.vendor,
                        item.partCode, item.itemName, item.unit, item.rate, item.disPer, item.disAmt, item.itemAmount, item.ammendmentno, item.ammendmentdate ? item.ammendmentdate.split(" ")[0] : '', item.assrate,
                        item.deliveryTerms, item.deliveryDate ? item.deliveryDate.split(" ")[0] : '', item.poQty, item.pofor, item.currency
                    ]);



                break;
                case 'SUMMRATEING':
                     headers = [
                        "#Sr", "Item Name", "Part Code", "Currency", "PO Qty", "PO Value", "Received Qty",
                        "Received Value", "QC OK Qty", "Balance Qty", "Balance Value", "Rating", "Party Name"
                    ];


                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.itemName,item.partCode,item.currency,item.poQty,item.poValue,item.recQty, item.recValue,
                        item.qcOKQty, item.balQty, item.balValue,item.rating,item.partyName
                    ]);


                break;
                case 'LISTOFSCHEDULESUMMARY':/* done */
                     headers = [
                        "#Sr", "PO No", "PO Date", "Schedule No", "Schedule Date", "Vendor",
                        "Schedule Effective From", "Schedule Effective Till", "PO Effective Date", "PO Close Date",
                        "PO Amendment Effective Date", "Order Type", "Delivery Terms", "Delivery Date",
                        "PO For", "Currency"
                    ];


                    console.log("Data:", rows);
                     body = rows.map((item, i) => [
                        i + 1, item.pono, item.poDate ? item.poDate.split(" ")[0] : '', item.schNO, item.schdate ? item.schdate.split(" ")[0] : '', item.vendor,
                        item.scheduleEffectiveFromDate ? item.scheduleEffectiveFromDate.split(" ")[0] : '', item.scheduleEffectiveTillDate ? item.scheduleEffectiveTillDate.split(" ")[0] : '',
                        item.poEffDate ? item.poEffDate.split(" ")[0] : '', item.pOclosedate ? item.pOclosedate.split(" ")[0] : '', item.poAmmeffdate ? item.poAmmeffdate.split(" ")[0] : '',
                        item.ordertype, item.deliveryterms, item.deliveryDate ? item.deliveryDate.split(" ")[0] : '', item.pofor, item.currency
                    ]);



                break;
                case 'LISTOFSCHEDULE': /*done */
                     headers = [
                        "#Sr", "PO No", "PO Date", "Schedule No", "Schedule Date", "Schedule Effective From",
                        "Schedule Effective Till", "PO Type", "PO Effective Date", "PO Close Date", "PO Amendment Effective Date",
                        "Order Type", "Vendor", "Part Code", "Item Name", "Unit",
                        "Rate", "Schedule Qty", "Discount %", "Discount Amt", "Item Amount",
                        "Assessment Rate", "Delivery Terms", "Delivery Date", "PO For", "Currency",
                        "Amendment No", "Amendment Date"
                    ];



                    console.log("Data:", rows);
                     body = rows.map((item, i) => [
                        i + 1, item.pono, item.poDate?.split(" ")[0] || '', item.schNO, item.schdate?.split(" ")[0] || '', item.scheduleEffectiveFromDate?.split(" ")[0] || '',
                        item.scheduleEffectiveTillDate?.split(" ")[0] || '', item.poType, item.poEffDate?.split(" ")[0] || '', item.pOclosedate?.split(" ")[0] || '', item.poAmmeffdate?.split(" ")[0] || '',
                        item.ordertype, item.vendor, item.partCode, item.itemName, item.unit,
                        item.rate, item.schQty, item.disPer, item.disAmt, item.itemAmount,
                        item.assRate, item.deliveryterms, item.deliveryDate?.split(" ")[0] || '', item.pofor, item.currency,
                        item.ammno, item.ammDate?.split(" ")[0] || ''
                    ]);

                break;
                case 'CONSOLIDATED':
                     headers = [
                        "#Sr", "Account Name", "Part Code", "Item Name", "PO Qty", "Received Qty",
                        "QC OK Qty", "Pending Qty", "Min Level", "Unit", "Min Level Days",
                        "Rating", "Item Group", "Item Category"
                    ];

                    console.log("Data:", rows);
                     body = rows.map((item, i) => [
                        i + 1, item.account_name, item.partCode, item.itemName, item.poQty, item.recQty,
                        item.qcokQty, item.pendQty, item.minLevel, item.unit, item.minlvldays,
                        item.rating, item.itemGroup, item.itemCategory
                    ]);

                break;
                case 'PARTYWISECONSOLIDATED':
                     headers = [
                        "#Sr", "Account Name", "PO Qty", "Received Qty", "QC OK Qty", "Pending Qty"
                    ];

                    console.log("Data:", rows);
                     body = rows.map((item, i) => [
                        i + 1, item.account_name, item.poQty, item.recQty, item.qcokQty, item.pendQty
                    ]);

                break;
                case 'ITEMWISECONSOLIDATED':
                     headers = [
                        "#Sr", "Part Code", "Item Name", "PO Qty", "PO Value", "Received Qty", "Received Value",
                        "QC OK Qty", "Pending Qty", "Min Level", "Unit", "Min Level Days",
                        "Rating", "Item Group", "Item Category"
                    ];

                    console.log("Data:", rows);
                     body = rows.map((item, i) => [
                        i + 1, item.partCode, item.itemName, item.poQty, item.poValue, item.recQty,
                        item.recValue, item.qcokQty, item.pendQty, item.minLevel, item.unit,
                        item.minlvldays, item.rating, item.itemGroup, item.itemCategory
                    ]);

                break;
                case 'PRICEHISTORY':
                     headers = [
                        "#Sr", "PartyName", "PONo", "PODate", "ItemName", "PartCode", "Rate",
                        "Currency", "POQty", "Dis", "DisAmt", "PO Value",
                        "PO Close Date", "POEff Date", "PO EntryID", "PO YearCode"
                    ];

                    console.log("Data:", rows);
                     body = rows.map((item, i) => [
                        i + 1, item.partyName, item.pono, item.poDate?.split(" ")[0] || '', item.itemName, item.partCode,
                        item.poRate, item.currency, item.poQty, item.disPer, item.disAmt,
                        item.poValue, item.poCloseDate?.split(" ")[0] || '', item.poEffDate?.split(" ")[0] || '', item.poEntryId, item.poYearCode
                    ]);

                break;
                case 'Order vs Dispatch':
                     headers = [
                        "#Sr", "PartyName", "PONo", "PODate","Domestic/Import", "Sch No", "Sch Date", "Sch Year",
                        "PartCode","ItemName", "POQty", "Rec Qty", "Qc Ok Qty", "Pend Qty","Unit"
                    ];

                    console.log("Data:", rows);
                     body = rows.map((item, i) => [
                        i + 1, item.vendor, item.pono, item.poDate?.split(" ")[0] || '', item.domesticimport,
                        item.schNO, item.schdate?.split(" ")[0] || '', item.schYear, item.partCode, item.itemName,
                        item.poQty, item.recQty, item.qcokQty, item.pendQty, item.unit

                    ]);

                break;

                default:
                    $.notify(reportTypeValue + " report has no data to display!", "error");
                return;
            }

            // Generate table with custom column width handling
            doc.autoTable({
                startY: currentY + 15, // Adjust the starting Y position
                head: [headers],
                body: body,
                styles: { cellWidth: 'wrap' },
                theme: 'grid',
                margin: { left: 40, right: 40 },
                styles: {
                    fontSize: 7,
                    cellPadding: 1,
                    overflow: 'linebreak',
                    halign: 'center',
                    valign: 'middle'
                },
                headStyles: {
                    fillColor: [41, 128, 185],
                    textColor: 255,
                    fontStyle: 'bold'
                },
                tableWidth: 'auto',
                columnStyles: {
                    0: { cellWidth: 20 },   // Column 1: Sr#
                    1: { cellWidth: 30 },   // Column 2: VendorName
                    2: { cellWidth: 30 },   // Column 3: MRNNo
                    3: { cellWidth: 40 },   // Column 4: MRNDate
                    4: { cellWidth: 20 },   // Column 5: GateNo
                    5: { cellWidth: 50 },   // Column 6: GDate
                    6: { cellWidth: 30 },   // Column 7: InvoiceNo
                    7: { cellWidth: 30 },   // Column 8: InvoiceDate
                    8: { cellWidth: 60 },   // Column 9: DocNo
                    9: { cellWidth: 50 },   // Column 10: PartCode
                    10: { cellWidth: 40 },  // Column 11: ItemName
                    11: { cellWidth: 30 },  // Column 12: BillQty
                    12: { cellWidth: 20 },  // Column 13: RecQty
                    13: { cellWidth: 20 },  // Column 14: ShortExcessQty
                    14: { cellWidth: 20 },  // Column 15: Unit
                    15: { cellWidth: 20 },  // Column 16: Amount
                    16: { cellWidth: 20 },  // Column 17: TotalAmt
                    17: { cellWidth: 20 },  // Column 18: NetAmount
                    18: { cellWidth: 20 },  // Column 19: Remark
                    19: { cellWidth: 20 },  // Column 20: ActualEntryByEmp
                    20: { cellWidth: 20 },  // Column 21: ActualEntryDate
                    21: { cellWidth: 30 },  // Column 21: ActualEntryDate


                },
                showHead: 'everyPage'
            });

            // Save the PDF
            doc.save(`PO_${reportTypeValue.replace(/\s+/g, '_')}.pdf`);

        });
        function DeleteRow(i) {

            var indexToRemove = i - 1;
            $('#SAGridRow-' + i).remove();
            $('#ReportTable tbody tr').each(function (index) {
                $(this).attr('id', 'SAGridRow-' + (index + 1));
                $(this).find('td:first-child a:first-child').each(function (tdIndex) {
                    $(this).attr('id', (index + 1));
                });
            });
            //$('#ReportTable tr:eq(' + indexToRemove + ')').remove();
            countAllTotal();
            $('#totalRows').text($('#divStockRegisterBody tr').length - 1);
        }

        function countAllTotal() {

            var rowCount = $('#divStockRegisterBody tr').length;
            var totPOQty = 0;
            for (var i = 1; i <= rowCount; i++) {
                totPOQty += $('#POQty-' + i).text() == '' ? 0 : parseFloat($('#POQty-' + i).text());
            }
            $('#ToTalQty').val(isNaN(totPOQty) ? 0 : totPOQty.toFixed(2));
            var rowCount = $('#divStockRegisterBody tr').length;
            var totPOValue = 0;
            for (var i = 1; i <= rowCount; i++) {
                totPOValue += $('#POValue-' + i).text() == '' ? 0 : parseFloat($('#POValue-' + i).text());
            }
            $('#ToTalPOValue').val(isNaN(totPOValue) ? 0 : totPOValue.toFixed(2));
            var ToTalRECQty = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalRECQty += $('#RECQty-' + i).text() == '' ? 0 : parseFloat($('#RECQty-' + i).text());
            }
            $('#ToTalRECQty').val(isNaN(ToTalRECQty) ? 0 : ToTalRECQty.toFixed(2));

            var RecValue = 0;
            for (var i = 1; i <= rowCount; i++) {
                RecValue += $('#RecValue-' + i).text() == '' ? 0 : parseFloat($('#RecValue-' + i).text());
            }
            $('#ToTalRecValue').val(isNaN(RecValue) ? 0 : RecValue.toFixed(2));

            var ToTalQCOKQty = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalQCOKQty += $('#QCOKQty-' + i).text() == '' ? 0 : parseFloat($('#QCOKQty-' + i).text());
            }
            $('#ToTalQCOKQty').val(isNaN(ToTalQCOKQty) ? 0 : ToTalQCOKQty.toFixed(2));

            var ToTalBalQty = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalBalQty += $('#BalQty-' + i).text() == '' ? 0 : parseFloat($('#BalQty-' + i).text());
            }
            $('#ToTalBalQty').val(isNaN(ToTalBalQty) ? 0 : ToTalBalQty.toFixed(2));

            var ToTalBalValue = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalBalValue += $('#BalValue-' + i).text() == '' ? 0 : parseFloat($('#BalValue-' + i).text());
            }
            $('#ToTalBalValue').val(isNaN(ToTalBalValue) ? 0 : ToTalBalValue.toFixed(2));

            var ToTalBillQty = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalBillQty += $('#BillQty-' + i).text() == '' ? 0 : parseFloat($('#BillQty-' + i).text());
            }
            $('#ToTalBillQty').val(isNaN(ToTalBillQty) ? 0 : ToTalBillQty.toFixed(2));

            var ToTalRECQtyDetail = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalRECQtyDetail += $('#RECQty-' + i).text() == '' ? 0 : parseFloat($('#RECQty-' + i).text());
            }
            $('#ToTalRECQtyDetail').val(isNaN(ToTalRECQtyDetail) ? 0 : ToTalRECQtyDetail.toFixed(2));

            var ToTalAcceptedQty = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalAcceptedQty += $('#AcceptedQty-' + i).text() == '' ? 0 : parseFloat($('#AcceptedQty-' + i).text());
            }
            $('#ToTalAcceptedQty').val(isNaN(ToTalAcceptedQty) ? 0 : ToTalAcceptedQty.toFixed(2));

            var ToTalPendQty = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalPendQty += $('#PendQty-' + i).text() == '' ? 0 : parseFloat($('#PendQty-' + i).text());
            }
            $('#ToTalPendQty').val(isNaN(ToTalPendQty) ? 0 : ToTalPendQty.toFixed(2));


            var totPOValueSUM = 0;
            for (var i = 1; i <= rowCount; i++) {
                totPOValueSUM += $('#POValue-' + i).text() == '' ? 0 : parseFloat($('#POValue-' + i).text());
            }
            $('#ToTalPOValueSum').val(isNaN(totPOValueSUM) ? 0 : totPOValueSUM.toFixed(2));
            var ToTalRECQtySUM = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalRECQtySUM += $('#RECQty-' + i).text() == '' ? 0 : parseFloat($('#RECQty-' + i).text());
            }
            $('#ToTalRECQtySum').val(isNaN(ToTalRECQtySUM) ? 0 : ToTalRECQtySUM.toFixed(2));

            var ToTalQCOKQtySUM = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalQCOKQtySUM += $('#QCOKQty-' + i).text() == '' ? 0 : parseFloat($('#QCOKQty-' + i).text());
            }
            $('#ToTalQCOKQtySum').val(isNaN(ToTalQCOKQtySUM) ? 0 : ToTalQCOKQtySUM.toFixed(2));

            var totRECQtyConsoled = 0;
            for (var i = 1; i <= rowCount; i++) {
                totRECQtyConsoled += $('#RECQty-' + i).text() == '' ? 0 : parseFloat($('#RECQty-' + i).text());
            }
            $('#ToTalRECQtyConsoled').val(isNaN(totRECQtyConsoled) ? 0 : totRECQtyConsoled.toFixed(2));

            var ToTalQCOKQtyConsoled = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalQCOKQtyConsoled += $('#QCOKQty-' + i).text() == '' ? 0 : parseFloat($('#QCOKQty-' + i).text());
            }
            $('#ToTalQCOKQtyConsoled').val(isNaN(ToTalQCOKQtyConsoled) ? 0 : ToTalQCOKQtyConsoled.toFixed(2));

            var ToTalPendQtyConsoled = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalPendQtyConsoled += $('#PendQty-' + i).text() == '' ? 0 : parseFloat($('#PendQty-' + i).text());
            }
            $('#ToTalPendQtyConsoled').val(isNaN(ToTalPendQtyConsoled) ? 0 : ToTalPendQtyConsoled.toFixed(2));



            var totPOValueSUM = 0;
            for (var i = 1; i <= rowCount; i++) {
                totPOValueSUM += $('#POValue-' + i).text() == '' ? 0 : parseFloat($('#POValue-' + i).text());
            }
            $('#ToTalPOValueItemConsoled').val(isNaN(totPOValueSUM) ? 0 : totPOValueSUM.toFixed(2));
            var ToTalRECQtySUM = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalRECQtySUM += $('#RECQty-' + i).text() == '' ? 0 : parseFloat($('#RECQty-' + i).text());
            }
            $('#ToTalRECQtyItemConsoled').val(isNaN(ToTalRECQtySUM) ? 0 : ToTalRECQtySUM.toFixed(2));

            var ToTalQCOKQtySUM = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalQCOKQtySUM += $('#RecValue-' + i).text() == '' ? 0 : parseFloat($('#RecValue-' + i).text());
            }
            $('#ToTalRecValueItemConsoled').val(isNaN(ToTalQCOKQtySUM) ? 0 : ToTalQCOKQtySUM.toFixed(2));

            var totRECQtyConsoled = 0;
            for (var i = 1; i <= rowCount; i++) {
                totRECQtyConsoled += $('#QCOKQty-' + i).text() == '' ? 0 : parseFloat($('#QCOKQty-' + i).text());
            }
            $('#ToTalQCOKQtyItemConsoled').val(isNaN(totRECQtyConsoled) ? 0 : totRECQtyConsoled.toFixed(2));

            var ToTalQCOKQtyConsoled = 0;
            for (var i = 1; i <= rowCount; i++) {
                ToTalQCOKQtyConsoled += $('#PendQty-' + i).text() == '' ? 0 : parseFloat($('#PendQty-' + i).text());
            }
            $('#ToTalPendQtyItemConsoled').val(isNaN(ToTalQCOKQtyConsoled) ? 0 : ToTalQCOKQtyConsoled.toFixed(2));

        }


        function GetPORegisterData() {
            var showOnlyActivePO = $("input[name='showOnlyActivePO']:checked").val();
            var showClosedPO = $("input[name='showClosedPO']:checked").val();
            var showOnlyCompletedPO = $("input[name='showOnlyCompletedPO']:checked").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetPORegisterData")",
                async: false,
                data: {
                    FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val(), ReportType: $('#ReportMode').val(), Partyname: $('#PartyName').val(), partcode: $('#PartCode').val(), itemName: $('#ItemName').val(), POno: $('#PONO').val(), SchNo: $('#SchNo').val(), OrderType: $('#OrderType').val(), POFor: $('#POFor').val(), ItemType: $('#ItemType').val(), ItemGroup: $('#ItemGroup').val(), showOnlyActivePO: showOnlyActivePO,
                    showClosedPO: showClosedPO,
                    showOnlyCompletedPO: showOnlyCompletedPO
                },
                success: function (result, status, error) {

                    $('#divPORegister').empty();
                    $('#divPORegister').html(result);
                    $('#totalRows').text($('#divPORegister tr').length - 1);
                    countAllTotal();
                }
            });
        }

       /*  $('#sendToExcel').click(function () {
            let table = $("#ReportTable");
            console.log(table);
            TableToExcel.convert(table[0], {
                name: `ReportTable.xlsx`,
                sheet: {
                    name: 'ReportTable'
                }
            });
        }); */


            $('#sendToExcel').click(function () {
                var reportType = $('#ReportMode').val(); // assuming there's a dropdown or input with id="ReportType"
                window.location.href = '/PORegister/ExportPOStockRegisterToExcel?ReportType=' + encodeURIComponent(reportType);
            });

        function GetServerDate() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetServerDate")",
                async: false,
                success: function (result, status, error) {
                    console.log(result);
                    if (result != null) {

                        var firstDayOfMonth = getFirstDayOfMonth(result);
                        $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", firstDayOfMonth);
                        $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);

                    }
                }
            });
        }
         function getFirstDayOfMonth(dateString) {
            const [day, month, year] = dateString.split('/');

            // Create a new Date object (months are 0-indexed, so subtract 1 from the month)
            const currentDate = new Date(year, month - 1, day);

            // Set the date to the 1st day of the month
            currentDate.setDate(1);

            // Format the result as dd/mm/YYYY
            const firstDayOfMonth = `${currentDate.getDate().toString().padStart(2, '0')}/${(currentDate.getMonth() + 1).toString().padStart(2, '0')}/${currentDate.getFullYear()}`;

            return firstDayOfMonth;
        }

        // function getFirstDayOfMonth(dateString) {
        //     const [day, month, year] = dateString.split('/');

        //     // Create a new Date object (months are 0-indexed, so subtract 1 from the month)
        //     const currentDate = new Date(year, month - 1, day);

        //     // Set the date to the 1st day of the month
        //     currentDate.setDate(1);

        //     // Format the result as dd/mm/YYYY
        //     const firstDayOfMonth = `${currentDate.getDate().toString().padStart(2, '0')}/${(currentDate.getMonth() + 1).toString().padStart(2, '0')}/${currentDate.getFullYear()}`;

        //     return firstDayOfMonth;
        // }


      /*   var currentSearchColumn = null;
        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#search-box").val('').trigger('keyup'); // Reset search box and trigger the search
        });
        $("#search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#divStockRegisterBody tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });
 */

        $(document).on("click", ".sortCol", function () {
            ;
            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');

            if (currentOrder === 'asc') {
                sortTable(colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow'); // Visual indication of descending order
                //$(this).css('font-size', 'larger'); // Visual indication of descending order
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable(colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger'); // Visual indication of ascending order
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });
        function sortTable(columnIndex, ascending) {

            var table = $('#ReportTable');
            var rows = table.find('#divStockRegisterBody > tr').toArray();

            rows.sort(function (a, b) {
                var aValue = $(a).find('td').eq(columnIndex).text();
                var bValue = $(b).find('td').eq(columnIndex).text();

                var aIntValue = 0;
                var bIntValue = 0;
                if (/^\d*\.?\d+$/.test(aValue) && /^\d*\.?\d+$/.test(bValue)) {
                    aIntValue = parseInt(aValue, 10);
                    bIntValue = parseInt(bValue, 10);
                }

                if (aIntValue > 0) {
                    if (ascending) {
                        return aValue - bValue;
                    } else {
                        return bValue - aValue;
                    }
                } else {
                    if (ascending) {
                        return aValue.localeCompare(bValue);
                    } else {
                        return bValue.localeCompare(aValue);
                    }
                }
            });

            $.each(rows, function (index, row) {
                table.children('#divStockRegisterBody').append(row);
            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>

}
