@model eTactWeb.DOM.Models.HRShiftMasterModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="card bg-gradient mb-3 border-light shadow-lg">
    <form asp-action="HRShiftMaster" asp-controller="HRShiftMaster" method="post" autocomplete="on" class="form-horizontal">
        <div class="card-header card-headerBG text-light bg-gradient">
            <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
                <h5>
                    <strong>HR ShiftMaster Model</strong>
                    <span class="d-flex float-end" style="margin-top:-2px;">
                        <a asp-controller="HRShiftMaster" asp-action="HRShiftMasterDashBoard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                            <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                            Dashboard
                        </a>
                        <div class="row justify-content-between g-2">
                            <div class="col-auto">
                                <a href="#" class="btn btn-primary btn-sm" onclick="PressBack();">
                                    <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                    BACK
                                </a>
                            </div>
                            @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                            {
                                <div class="col-auto">
                                    <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                        <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                        REFRESH
                                    </a>
                                </div>
                                @if (Model.Mode == "U")
                                {
                                    Model.Mode = "U";
                                    <div class="col-auto">
                                        <button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
                                            <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                            UPDATE
                                        </button>
                                    </div>
                                }

                                else
                                {
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                            <i class="fa-solid fa-chevron-circle-right"></i>
                                            SUBMIT
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    </span>
                </h5>
            </div>
            <div class="card-body bg-light">
                <div class="accordion shadow-lg" id="accordionItemCategory">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="H_ItemCategoryDetail">
                            <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_ItemCategoryDetail"
                                    aria-expanded="true" aria-controls="B_ItemCategoryDetail">
                                <strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i> Shift Master Detail</strong>
                                <small class="p-3"></small>
                            </button>
                        </h2>
                        <div id="B_ItemCategoryDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemCategoryDetail">
                            <div class="accordion-body">
                                <div class="row g-2">

                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                                       <label asp-for="ShiftId" class="form-label">Shift Id</label>
                                        <input asp-for="ShiftId" class="form-control" readonly />
                                        <input asp-for="Mode" class="form-control" type="hidden" readonly />
                                   </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-left:20px;">
                                        <label asp-for="EntryDate" class="form-label">Entry Date</label>
                                        <input asp-for="EntryDate" type="text" class="form-control" readonly />
                                   </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="YearCode" class="form-label">YearCode</label>
                                        <input asp-for="YearCode" class="form-control" readonly/>
                                   </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="ShiftCode" class="form-label">Shift Code</label>
                                        <input asp-for="ShiftCode" class="form-control"  />
                                   </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="ShiftName" class="form-label">Shift Name</label>
                                        <input asp-for="ShiftName" class="form-control"  />
                                   </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:95px;">
                                        <label asp-for="FromTime" class="form-label">FromTime</label>
                                        <input asp-for="FromTime" class="form-control" type="text" />
                                   </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:98px;">
                                        <label asp-for="ToTime" class="form-label">ToTime</label>
                                        <input asp-for="ToTime" class="form-control" type="text" />
                                   </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:298px;">
                                        <label asp-for="GraceTimeIn" class="form-label">GraceTimeIn (Minutes)</label>
                                        <input asp-for="GraceTimeIn" id="GraceTimeIn" class="form-control"  />
                                    </div>

                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:298px;">
                                        <label asp-for="GraceTimeOut" class="form-label">GraceTimeOut (Minutes)</label>
                                        <input asp-for="GraceTimeOut" id="GraceTimeOut" class="form-control"  />
                                    </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="Lunchfrom" class="form-label">Lunchfrom</label>
                                        <input asp-for="Lunchfrom" class="form-control" type="text" />
                                   </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="Lunchto" class="form-label">Lunchto</label>
                                        <input asp-for="Lunchto" class="form-control" type="text" />
                                   </div>
                                    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="ShiftForProdOnly" class="form-label">ShiftForProdOnly</label>
                                        <select asp-for="ShiftForProdOnly" class="form-select" >
                                            <option disabled value="">-Select-</option>
                                            <option value="Y" selected>Yes</option>
                                            <option value="N">No</option>
                                        </select>
                                    </div> 
                                    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="OutDay" class="form-label">OutDay</label>
                                        <select asp-for="OutDay" class="form-select" >
                                            <option value="S">Same</option>
                                            <option value="N">NextDay</option>
                                        </select>
                                    </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                        <label asp-for="FirstBreakFrom" class="form-label">First Break From</label>
                                        <input asp-for="FirstBreakFrom" class="form-control" type="text" />
                                   </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="FirstBreakTo" class="form-label">FirstBreakTo</label>
                                        <input asp-for="FirstBreakTo" class="form-control" type="text" />
                                   </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                        <label asp-for="SecondBreakFrom" class="form-label">SecondBreakFrom</label>
                                        <input asp-for="SecondBreakFrom" class="form-control" type="text" />
                                   </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                        <label asp-for="SecondBreakTo" class="form-label">SecondBreakTo</label>
                                        <input asp-for="SecondBreakTo" class="form-control" type="text" />
                                   </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="CC" class="form-label">CC</label>
                                        <input asp-for="CC" class="form-control" readonly />
                                   </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="UID" class="form-label">UID</label>
                                        <input asp-for="UID" class="form-control" readonly />
                                   </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="ThirdBreakFrom" class="form-label">ThirdBreakFrom</label>
                                        <input asp-for="ThirdBreakFrom" class="form-control" type="text" />
                                   </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="ThirdBreakTo" class="form-label">ThirdBreakTo</label>
                                        <input asp-for="ThirdBreakTo" class="form-control" type="text" />
                                   </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="duration" class="form-label">Duration</label>
                                        <input asp-for="duration" class="form-control" required />
                                   </div>
                                   
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                        <label asp-for="ShiftTypeFixRotFlex" class="form-label">ShiftTypeFixRotFlex</label>
                                        <input asp-for="ShiftTypeFixRotFlex" class="form-control"  />
                                   </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                        <label asp-for="ApplicableToEmployeeCategory" class="form-label">ApplicableToEmployeeCategory</label>
                                        <input asp-for="ApplicableToEmployeeCategory" class="form-control" />
                                   </div>
                                    
                                   @*  <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="ApplicableToEmployeeCategory" class="control-label">Applicable Employee Category</label>
                                        <br />

                                        <select class="form-select" multiple="multiple" asp-for="ApplicableToEmployeeCategory" asp-items="@(new SelectList(Model.EmpCategList, "Value", "Text"))"></select>


                                        <select class="form-select" multiple="multiple" asp-for="EmpCateg" asp-items="@(new SelectList(Model.EmpCategList,"Value","Text"))"></select> 
                                    </div> *@
                                    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <label asp-for="AttandanceMode" class="form-label">Attandance Mode</label>
                                        <select asp-for="AttandanceMode" class="form-select">
                                            <option value="">Select</option>
                                            
                                        </select>
                                    </div>
                                   <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:250px;">
                                        <label asp-for="MinimumHourRequiredForFullDay" class="form-label">MinimumHourRequiredForFullDay</label>
                                        <input asp-for="MinimumHourRequiredForFullDay" class="form-control"  />
                                   </div>
                                   

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress my-2 mb-3" style="height: 4px;">
                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
           
          
            <div class="card-footer p-3">
                <div class="row justify-content-between g-2">
                    <div class="card-header card-headerBG text-light bg-gradient">
                        <h5>
                            <strong>HrShift Master</strong>

                            <span class="d-flex float-end" style="margin-top:-2px;">
                                <div class="col-auto">
                                    @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                    <button type="submit" class="btn btn-sm btn-outline-light bg-gradient" id="PrintButton">
                                        <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                        PRINT
                                    </button>
                                </div>
                                @*<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">*@
                                <a asp-controller="HRShiftMaster" asp-action="HRShiftMasterDashBoard" tabindex="-1" asp-route-ID="0" class="btn btn-secondary btn-sm">
                                    <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
                                    Dashboard
                                </a>
                               
                                <div class="row justify-content-between g-2">
                                    <div class="col-auto">
                                        
                                        <a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
                                            <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                            BACK
                                        </a>
                                    </div>
                                    @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                                    {
                                        <div class="col-auto">
                                            @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                            <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                                @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                                <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                                REFRESH
                                            </a>
                                        </div>
                                        @if (Model.Mode == "U")
                                        {
                                            @*Model.Mode = "U";*@
                                            <div class="col-auto">
                                                @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                                <button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
                                                    <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                                    UPDATE
                                                </button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                                    <i class="fa-solid fa-chevron-circle-right"></i>
                                                    SUBMIT
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>



@section Scripts {
    <script>

        $('.submitBTN').click(function (e) {
            e.preventDefault();
            $('form').submit();
        });


        $(document).ready(function () {

            //$('#AlternatePartyName').rules("remove", "required");
            $('#ShiftForProdOnly').select2();
            $('#OutDay').select2();
            $('#AttandanceMode').select2();

            // $("#ApplicableToEmployeeCategory").multiselect({
            //     // Bootstrap 5 compatibility
            //     templates: {
            //         button: '<button type="button" class="multiselect btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
            //     },
            //     enableFiltering: true,
            //     includeSelectAllOption: true,
            //     buttonWidth: 250,
            //     enableCaseInsensitiveFiltering: true


            // });
           
            let today = new Date();
            let formattedDate = today.getDate() + '/' + today.toLocaleString('en-us', { month: 'short' }).toLowerCase() + '/' + today.getFullYear();

            $('#EntryDate').val(formattedDate);
          
            function validateTime(fromSelector, toSelector) {
                let fromTime = $(fromSelector).val();
                let toTime = $(toSelector).val();

                if (fromTime && toTime) {
                    let fromDate = new Date(`1970-01-01T${fromTime}`);
                    let toDate = new Date(`1970-01-01T${toTime}`);

                    if (fromDate >= toDate) {
                        $.notify(`${toSelector.replace('#', '')} should be greater than ${fromSelector.replace('#', '')}`,'error');
                        $(toSelector).val(''); // Clear incorrect value
                    }
                }
            }
            console.log("Changes Effect done");
            // Validate time format for specific fields
            
            $('#FirstBreakFrom, #FirstBreakTo, #SecondBreakFrom, #SecondBreakTo, #Lunchfrom, #Lunchto, #ThirdBreakFrom, #ThirdBreakTo')
                .on('input', function () {
                    let value = $(this).val();
                    let regex = /^([01]\d|2[0-3]):([0-5]\d)$/;

                    if (!regex.test(value)) {
                        $.notify('Invalid time format! Please enter time in HH:mm format.', 'error');
                        $(this).val('');
                    }
                });

            // Validate time order when values change
            $('#FirstBreakFrom, #FirstBreakTo, #SecondBreakFrom, #SecondBreakTo, #Lunchfrom, #Lunchto, #ThirdBreakFrom, #ThirdBreakTo')
                .on('change', function () {
                    validateTime('#FirstBreakFrom', '#FirstBreakTo');
                    validateTime('#SecondBreakFrom', '#SecondBreakTo');
                    validateTime('#Lunchfrom', '#Lunchto');
                    validateTime('#ThirdBreakFrom', '#ThirdBreakTo');
                });

            //GraceTimein------
            $("#GraceTimeIn, #GraceTimeOut, #duration, #MinimumHourRequiredForFullDay").on("input", function () {
                let inputValue = $(this).val();

                // Allow only numbers
                if (!/^\d*$/.test(inputValue)) {
                    $(this).val(inputValue.replace(/\D/g, '')); // Remove non-numeric characters
                    $.notify("Please enter numbers only!","error" );
                }

                
            });
            $("#GraceTimeIn, #GraceTimeOut").on("input", function () {
                validateGraceTimeDifference();
            });
            function validateGraceTimeDifference() {
                let graceIn = parseInt($("#GraceTimeIn").val(), 10) || 0;
                let graceOut = parseInt($("#GraceTimeOut").val(), 10) || 0;

                // Check if the difference between GraceTimeIn and GraceTimeOut exceeds 60 minutes
                if (Math.abs(graceOut - graceIn) > 60) {
                    $.notify("GraceTimeIn and GraceTimeOut difference must not exceed 60 minutes!", {
                        position: "top center",
                        className: "error"
                    });

                    // Optionally clear invalid values
                    $("#GraceTimeIn, #GraceTimeOut").val("");
                }
            }
            // function validateTime(input) {
            //     let value = $(input).val();
            //     let regex = /^([01]\d|2[0-3]):([0-5]\d)$/; // HH:mm format validation

            //     if (!regex.test(value)) {
            //         $.notify('Invalid time format! Please enter time in HH:mm format.', 'error');
            //         $(input).val('');
            //         return false;
            //     }
            //     return true;
            // }

            // function validateTimeDifference() {
            //     let graceTimeIn = $('#GraceTimeIn').val();
            //     let graceTimeOut = $('#GraceTimeOut').val();

            //     if (graceTimeIn && graceTimeOut) {
            //         let inMinutes = convertToMinutes(graceTimeIn);
            //         let outMinutes = convertToMinutes(graceTimeOut);
            //         let difference = Math.abs(outMinutes - inMinutes);

            //         if (difference > 60) {
            //             $.notify('Time difference should not exceed 60 minutes.', 'error');
            //             $('#GraceTimeOut').val(''); // Clear invalid out time
            //         }
            //     }
            // }

            // function convertToMinutes(time) {
            //     let [hours, minutes] = time.split(':').map(Number);
            //     return hours * 60 + minutes;
            // }

            // // Event listeners
            // $('#GraceTimeIn, #GraceTimeOut').on('change', function () {
            //     if (validateTime(this)) {
            //         validateTimeDifference();
            //     }
            // });


            if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {

            }

            // Trigger AltItemName and AltPartCode retrieval on change
          
            if ($('#Mode').val() !== 'U' && $('#Mode').val() !== 'V') {
                GetShiftId();
                debugger
                var shiftId = $('#ShiftId').val();  // Get ShiftId
                $('#ShiftCode').val(shiftId);
            }
            function updateMinimumHours() {
                let fromTime = $("#FromTime").val();
                let toTime = $("#ToTime").val();

                if (fromTime && toTime) {
                    let fromDate = new Date(`1970-01-01T${fromTime}`);
                    let toDate = new Date(`1970-01-01T${toTime}`);

                    let timeDiff = (toDate - fromDate) / (1000 * 60 * 60); // Convert milliseconds to hours

                    if (timeDiff > 0) {
                        $("#MinimumHourRequiredForFullDay").val(timeDiff.toFixed(2)); // Auto-fill with 2 decimal places
                       
                    } else {
                        $.notify("ToTime should be greater than FromTime!", "error");
                        $("#ToTime").val(""); 
                      
                    }
                }
            }

            function validateMinimumHours() {
                let fromTime = $("#FromTime").val();
                let toTime = $("#ToTime").val();
                let minHours = parseFloat($("#MinimumHourRequiredForFullDay").val()) || 0;

                if (fromTime && toTime) {
                    let fromDate = new Date(`1970-01-01T${fromTime}`);
                    let toDate = new Date(`1970-01-01T${toTime}`);

                    let timeDiff = (toDate - fromDate) / (1000 * 60 * 60); // Convert milliseconds to hours

                    if (minHours > timeDiff) {
                        $.notify("Minimum hours cannot be more than the difference between FromTime and ToTime!", "error");
                        $("#MinimumHourRequiredForFullDay").val(timeDiff.toFixed(2)); // Reset to correct value
                    }
                }
            }

            // Auto-fill & validate when FromTime or ToTime changes
            $("#FromTime, #ToTime").on("input change", function () {
                updateMinimumHours();
            });

            // Validate when user manually edits MinimumHourRequiredForFullDay
            $("#MinimumHourRequiredForFullDay").on("input change", function () {
                validateMinimumHours();
            });
            function updateDurationInDays() {
                let fromTime = $("#FromTime").val();
                let toTime = $("#ToTime").val();

                if (fromTime && toTime) {
                    let fromDate = new Date(`1970-01-07T${fromTime}`); // Fixed date (7th Jan)
                    let toDate = new Date(`1970-01-07T${toTime}`);

                    let timeDiff = (toDate - fromDate) / (1000 * 60 * 60); // Convert milliseconds to days

                    if (timeDiff > 0) {
                        $("#duration").val(timeDiff.toFixed(2)); // Auto-fill duration in days
                    } else {
                        $.notify("ToTime should be greater than FromTime!", "error");
                        $("#ToTime").val(""); // Clear invalid ToTime
                    }
                }
            }

            // Auto-fill duration when FromTime or ToTime changes
            $("#FromTime, #ToTime").on("input change", function () {
                updateDurationInDays();
            });

        });
       
       
        function TotalNoOfRows() {
            var Row = $('#divStockGrid tr').length;
            var tdCount = $('#divStockGrid tr td').length;
            if (tdCount >= 1) {
                $('#lblTotalNoOfBelowItems').text(Row);
            } else {
                $('#lblTotalNoOfBelowItems').text(0);
            }
        }

        function CheckBeforeUpdate() {
            $.ajax({
                url: '@Url.Action("CheckBeforeUpdate")',
                type: "POST",
                data: { "Type": $('#Entry_id').val() },
                success: function (data) {
                    console.log("success");
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.Result != null) {
                            if (obj.Result.Table[0].Column1 > 0) {
                                $.notify("You cannot update this Category as Item with this category already exists", "error");
                            }
                            else {
                                $('form').submit();
                            }
                        }
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function GetShiftId() {
            $.ajax({
                url: '@Url.Action("GetShiftId", "HRShiftMaster")',
                type: 'POST',
                async: false,
                success: function (data, status, xhr) {
                    var obj = $.parseJSON(data);
                    if (obj.StatusCode == 200 && obj.StatusText === 'Success') {
                        $('#ShiftId').val(obj.Result[0].EntryId || 0);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load opening amount.');
                }
            });
        }

        function PressBack() {

            sessionStorage.setItem('FromDateBack', $('#FromDateBack').val());
            sessionStorage.setItem('ToDateBack', $('#ToDateBack').val());
            sessionStorage.setItem('GroupNameBack', $('#GroupNameBack').val());
            sessionStorage.setItem('LedgerNameBack', $('#LedgerNameBack').val());
            sessionStorage.setItem('OpeningForYearBack', $('#OpeningForYearBack').val());
            sessionStorage.setItem('PreviousAmountBack', $('#PreviousAmountBack').val());
            sessionStorage.setItem('DrCrBack', $('#DrCrBack').val());
            sessionStorage.setItem('GlobalSearchBack', $('#GlobalSearchBack').val());

            window.history.back();
        }



    </script>


}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<script>
    flatpickr("#FromTime, #ToTime, #FirstBreakFrom, #FirstBreakTo, #SecondBreakFrom, #SecondBreakTo, #Lunchfrom, #Lunchto, #ThirdBreakFrom, #ThirdBreakTo", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i", // 24-hour format
        time_24hr: true
    });

  
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


