@model eTactWeb.DOM.Models.SaleOrderDashboard

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="shadow-lg">
    <div class="card rounded border-light bg-gradient">
        <div class="card-header card-headerBG text-light bg-gradient">
            <h5>
                <strong>Sale Order Amendment Dashboard</strong>
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-action="OrderDetail" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                        <i class="fa fa-plus-circle fafw fa-lg" aria-hidden="true"></i>
                        Add New
                    </a>
                </span>
            </h5>
        </div>

        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body">
                    <form id="SParam">
                        <div class="row">
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <label asp-for="CustomerName" class="form-label">Customer Name</label>
                                <input asp-for="CustomerName" class="form-control" />
                            </div>
                            <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <label asp-for="CustOrderNo" class="form-label">Customer Order</label>
                                <input asp-for="CustOrderNo" class="form-control" />
                            </div>
                            <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <label asp-for="SONo" class="form-label">SO No</label>
                                <select class="form-select" asp-for="SONo" asp-items="@(new SelectList(Model.SONoList,"Value","Text"))">
                                    <option value=''>-Select-</option>
                                </select>
                            </div>
                            <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <label asp-for="OrderType" class="form-label">Order Type</label>
                                <select class="form-select" asp-for="OrderType">
                                    <option value=''>-Select-</option>
                                    <option value="Export">Export</option>
                                    <option value="Domestic">Domestic</option>
                                </select>
                            </div>
                            <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                <label asp-for="SOType" class="form-label">SO Type</label>
                                <select class="form-select" asp-for="SOType">
                                    <option value=0>-Select-</option>
                                    <option value="OPEN">OPEN</option>
                                    <option value="CLOSE">CLOSE</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                                <label asp-for="ItemName" class="form-label">Item Name</label>
                                <input asp-for="ItemName" class="form-control" />
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">From Date</label>
                                        <input asp-for="FromDate" maxlength="10" class="form-control" />
                                    </div>
                                    <div class="col">
                                        <label class="form-label">To Date</label>
                                        <input asp-for="ToDate" maxlength="10" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class=" col-xxl-4 col-lg-4 col-md-8 col-sm-6 col-xs-12 d-flex justify-content-evenly mt-3">
                                <button class="btn btn-sm btn-outline-info" type="button" onclick="GetSOAmmCompletedSearchData();">
                                    <i class="fa-solid fa-magnifying-glass fa-fw fa-lg "></i>SEARCH
                                </button>
                                <a class="btn btn-sm btn-outline-danger" asp-controller="SaleOrder" asp-action="SOAmmCompleted">
                                    <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                </a>
                                <div class="ms-auto d-flex align-items-center">
                                    <div class="col-md-4">
                                        <label class="form-label me-2">Global search</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="search-box" placeholder="Search...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body pb-0 pt-0">
            <div class="progress" style="height: 4px;">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body" id="divDashboardGrid">
                    <partial name="_SOAmmListGrid" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(function () {
            $("#FromDate").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                inline: true,
            });

            $("#FromDate").on('keydown', function (e) { e.preventDefault(); return false; });

            $("#ToDate").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                inline: true,
            });

            $("#ToDate").on('keydown', function (e) { e.preventDefault(); return false; });

            AutoComplete('VSOAMMDATA', 'CustomerName', 'CustomerName', null);
            AutoComplete('VSOAMMDATA', 'CustOrderNo', 'CustOrderNo', null);
            AutoComplete('VSOAMMDATA', 'ItemName', 'ItemName', null);
        });

        function GetSOAmmCompletedSearchData() {
            var data = $('#SParam').serialize();
            $.ajax({
                url: '@Url.Action("GetSOAmmCompletedSearchData")',
                type: "POST",
                data: $('#SParam').serializeArray(),
                success: function (data) {
                    $('#divDashboardGrid').empty().append(data);
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }


        var currentSearchColumn = null;

        $("#search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#ammTable tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });


        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#search-box").val('').trigger('keyup');
        });

        $(document).on("click", ".sortCol", function () {
             ;
            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');

            if (currentOrder === 'asc') {
                sortTable(colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow');
                //$(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable(colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });

        function sortTable(columnIndex, ascending) {
             
            var table = $('.SOAmmList');
            var rows = table.find('#ammTable > tr').toArray();

            rows.sort(function (a, b) {
                var aValue = $(a).find('td').eq(columnIndex).text();
                var bValue = $(b).find('td').eq(columnIndex).text();

                var aIntValue = 0;
                var bIntValue = 0;
                if (/^\d+$/.test(aValue) && /^\d+$/.test(bValue)) {
                    aIntValue = parseInt(aValue, 10);
                    bIntValue = parseInt(bValue, 10);
                }

                if (aIntValue > 0) {
                    if (ascending) {
                        return aValue - bValue;
                    } else {
                        return bValue - aValue;
                    }
                } else {
                    if (ascending) {
                        return aValue.localeCompare(bValue);
                    } else {
                        return bValue.localeCompare(aValue);
                    }
                }
            });

            $.each(rows, function (index, row) {
                table.children('#ammTable').append(row);
            });
        }
    </script>
}