@model eTactWeb.DOM.Models.ProfitAndLossModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="card bg-gradient mb-3 border-light shadow-lg">

    <div class="card-header card-headerBG text-light bg-gradient">
        <h5>
            <strong>Profit And Loss</strong>
            <span class="d-flex float-end" style="margin-top:-2px;">
                @*<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">*@

            </span>
        </h5>
    </div>
    <div>
    </div>
    <div class="card-body bg-light pt-0">
        <div class="accordion shadow-lg">
            <div class="card-body">
                <div class="card overflow-auto">
                    <div class="card-body">
                        <form id="SParam">
                            <div class="row">
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">From Date</label>
                                            <input asp-for="FromDate" class="form-control" />
                                        </div>
                                        <div class="col">
                                            <label class="form-label">To Date</label>
                                            <input asp-for="ToDate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="EntryByMachine" value="@Environment.MachineName" class="form-control" />
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="ReportType" class="form-label">ReportType</label>
                                    <select asp-for="ReportType" class="form-select">
                                        <option value="SUMMARY" selected>Summary</option>
                                        <option value="DETAIL">Detail</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 col-md-6 col-lg-4 col-xl-2">
                                    <label class="form-label">Global search</label>
                                    <input type="text" class="form-control" id="search-box" style="background-color:#FFFACD" placeholder="Search...">
                                </div>
                                <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex align-items-center" style="margin-top:20px;">
                                    <div class="form-check form-switch me-3" id="ShowRecordWithZeroAmtDiv">
                                        <input asp-for="ShowRecordWithZeroAmt" class="form-check-input" type="checkbox" value="YES" />
                                        <input type="hidden" asp-for="ShowRecordWithZeroAmt" value="NO" />
                                        <label class="form-check-label" for="ShowRecordWithZeroAmt">Show Records With Zero Amount</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input asp-for="ShowOpening" class="form-check-input" type="checkbox" value="YES" />
                                        <input type="hidden" asp-for="ShowOpening" value="NO" />
                                        <label class="form-check-label" for="ShowOpening">Show Opening</label>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center   mt-3 col-sm-5 col-md-8 col-lg-6 col-xl-4" width="inherit" style="width:600px;">
                                    <button class="btn btn-sm btn-outline-info" type="button" style="padding:0px;height:30px;width:100px;" onclick="GetProfitAndLossData();">
                                        <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>SEARCH
                                    </button>
                                    <button class="btn btn-sm btn-outline-success" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="sendToExcel">
                                        <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                                    </button>
                                    <a class="btn btn-sm btn-outline-danger" style="padding:3px;height:30px;width:100px;margin-left:20px;" asp-controller="TrailBalance" asp-action="TrailBalance">
                                        <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                    </a>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                            <div class="progress my-2 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="H_SAGrid">
                                    <button id="dynamicButton" class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                                        <strong id="buttonTitle" style="text-transform:uppercase">
                                            <i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade"
                                               style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
                                            <span id="dynamicText"></span>
                                        </strong>
                                    </button>
                                </h2>

                                <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradientn show" aria-labelledby="H_SAGrid">
                                    <div class="accordion-body">
                                        <div class="card-body" id="divPendingMRP">
                                            <div class="row">
                                                <div class="col-md-12 divStockRegister" id="divStockMainRegister">
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end mt-2 " id="reportFields">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $(document).ready(function () {
             
            let currentDate = new Date();

            // FromDate model thi value
            let fromDateRaw = '@Model.FromDate'; // e.g. "01/Apr/2025 00:00:00"

            function convertToDDMMYYYY(dateStr) {
                if (!dateStr) return '';
                let parts = dateStr.split(" ");
                let datePart = parts[0]; // "01/Apr/2025"
                let [day, mon, year] = datePart.split("/");

                const months = {
                    Jan: "01", Feb: "02", Mar: "03", Apr: "04",
                    May: "05", Jun: "06", Jul: "07", Aug: "08",
                    Sep: "09", Oct: "10", Nov: "11", Dec: "12"
                };

                return `${day}/${months[mon]}/${year}`;
            }

            let fromDateFormatted = convertToDDMMYYYY(fromDateRaw);

            $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' })
                .datepicker("setDate", fromDateFormatted);

            $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' })
                .datepicker("setDate", 'now');

            let history = JSON.parse(sessionStorage.getItem('HistoryStack')) || [];
            let parentCode = sessionStorage.getItem('ParentCode');
            let reportType = sessionStorage.getItem('ReportType');
            let showOpening = sessionStorage.getItem('ShowOpening');
            
            if (history.length > 0) {
                let lastStep = history[history.length - 1];
                const action = lastStep.action;
                const params = lastStep.params;

                switch (action) {
                    case 'ProfitAndLossGroup':
                        if (params.ShowOpening === "YES") {
                            $('#ShowOpening').prop("checked", true);
                        } else {
                            $('#ShowOpening').prop("checked", false);
                        }
                        if (params.ReportType == "DETAIL") {
                            $('#ShowRecordWithZeroAmtDiv').show();
                            let showRecordWithZeroAmt = sessionStorage.getItem('ShowRecordWithZeroAmt');
                            if (params.ShowRecordWithZeroAmt === "YES") {
                                $('#ShowRecordWithZeroAmt').prop("checked", true);
                            } else {
                                $('#ShowRecordWithZeroAmt').prop("checked", false);
                            }
                        }
                        $('#ReportType').val(params.ReportType).trigger('change');

                        history.pop();
                        sessionStorage.setItem('HistoryStack', JSON.stringify(history));
                        break;
                }
            }
            if ($('#ReportType').val() == "SUMMARY") {
                $('#ShowRecordWithZeroAmtDiv').hide();
            }
            else {
                $('#ShowRecordWithZeroAmtDiv').show();
            }
            GetProfitAndLossData();
        });

        $('#ReportType').change(function () {
            if ($('#ReportType').val() == "DETAIL") {
                $('#ShowRecordWithZeroAmtDiv').show();
            }
            else {
                $('#ShowRecordWithZeroAmtDiv').hide();
            }
            GetProfitAndLossData();
        })

        $('#ShowOpening, #ShowRecordWithZeroAmt').on('change', function () {
            GetProfitAndLossData();
        });

        function GetProfitAndLossData() {
            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var ReportType = $('#ReportType').val();
            var ShowOpening = $('#ShowOpening').prop('checked') ? "YES" : "NO";
            var ShowRecordWithZeroAmt = $('#ShowRecordWithZeroAmt').prop('checked') ? "YES" : "NO";

            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetProfitAndLossData", "ProfitAndLoss")",
                data: {
                    FromDate: FromDate,
                    ToDate: ToDate,
                    ReportType: ReportType,
                    ShowOpening: ShowOpening,
                    ShowRecordWithZeroAmt: ShowRecordWithZeroAmt
                },
                success: function (response) {
                    $('#divStockMainRegister').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching Trail Balance data:", error);
                }
            });
        }

        function DeleteRow(i) {

            var indexToRemove = i - 1;
            $('#SAGridRow-' + i).remove();
            $('#ReportTable tbody tr').each(function (index) {
                $(this).attr('id', 'SAGridRow-' + (index + 1));


                $(this).find('td:first-child a:first-child').each(function (tdIndex) {
                    $(this).attr('id', (index + 1));
                });

                $(this).find('td[id^="amount-"]').each(function (tdIndex) {
                    $(this).attr('id', 'amount-' + (index + 1));
                });

            });
            $('#totalRows').text($('#divStockMainRegister tr').length - 1);
        }

        $('#sendToExcel').click(function () {
            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var ReportType = $('#ReportType').val();

            $.ajax({
                url: '/ProfitAndLoss/ExportProfitAndLossToExcel',
                type: 'GET',
                data: {
                    FromDate: FromDate,
                    ToDate: ToDate,
                    ReportType: ReportType
                },
                xhrFields: {
                    responseType: 'blob' // important for file download
                },
                success: function (data, status, xhr) {
                    // Get filename from content-disposition header if needed
                    const blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    const link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = `ProfitAndLoss.xlsx`; // or dynamically get name
                    link.click();
                },
                error: function () {
                    alert('Failed to download Excel file.');
                }
            });
        });

        function GetProfitAndLossDataByGroup(td) {
             
            // td is the clicked cell
            let cellValue = $(td).text().trim();

            // hidden input value inside this td
            var parentCode = $(td).find(".hdnParentAccountCode").val();
            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var ShowOpening = $('#ShowOpening').prop('checked') ? "YES" : "NO";
            var ReportType = $('#ReportType').val();
            if (ReportType == "DETAIL") {
                var ShowRecordWithZeroAmt = $('#ShowRecordWithZeroAmt').prop('checked') ? "YES" : "NO";
            }
            // Save history
            saveHistory('ProfitAndLossGroup', {
                parentCode: parentCode,
                FromDate: FromDate,
                ToDate: ToDate,
                ShowOpening: ShowOpening,
                ReportType : ReportType,
                ShowRecordWithZeroAmt: ShowRecordWithZeroAmt
            });

            // Save to sessionStorage
            sessionStorage.setItem('ParentCode', parentCode);
            sessionStorage.setItem('ShowOpening', ShowOpening);
            sessionStorage.setItem('ShowRecordWithZeroAmt', ShowRecordWithZeroAmt);
            sessionStorage.setItem('ColumnValue', cellValue);
            sessionStorage.setItem('ReportType', "GROUPSUMMARY");

            // Mark current page
            sessionStorage.setItem('CurrentPage', 'ProfitAndLossLedger');

            // Redirect
            window.location.href = '/TransactionLedger/Index';
        }

        function GetProfitAndLossDataByLedger(td) {
             
            // td is the clicked cell
            let cellValue = $(td).text().trim();

            // hidden input value inside this td
            var parentCode = $(td).find(".hdnParentAccountCode").val();
            var accountCode = $(td).find(".hdnAccountCode").val();
            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var ShowOpening = $('#ShowOpening').prop('checked') ? "YES" : "NO";
            var ReportType = $('#ReportType').val();
            if (ReportType == "DETAIL") {
                var ShowRecordWithZeroAmt = $('#ShowRecordWithZeroAmt').prop('checked') ? "YES" : "NO";
            }
            // Save history
            saveHistory('ProfitAndLossDetail', {
                parentCode: parentCode,
                FromDate: FromDate,
                ToDate: ToDate,
                ShowOpening: ShowOpening,
                ReportType: ReportType,
                ShowRecordWithZeroAmt: ShowRecordWithZeroAmt,
                AccountCode: accountCode
            });

            // Save to sessionStorage
            sessionStorage.setItem('ParentCode', parentCode);
            sessionStorage.setItem('ShowOpening', ShowOpening);
            sessionStorage.setItem('ShowRecordWithZeroAmt', ShowRecordWithZeroAmt);
            sessionStorage.setItem('AccountCode', accountCode);
            sessionStorage.setItem('ColumnValue', cellValue);
            sessionStorage.setItem('ReportType', "GROUPSUMMARY");

            // Mark current page
            sessionStorage.setItem('CurrentPage', 'ProfitAndLossLedger');

            // Redirect
            window.location.href = '/TransactionLedger/Index';
        }

        function saveHistory(action, params = {}) {
            // Load existing history or create empty
            let history = JSON.parse(sessionStorage.getItem('HistoryStack')) || [];

            // Push new action
            history.push({ action, params });

            // Save back
            sessionStorage.setItem('HistoryStack', JSON.stringify(history));

            // Show back button
            $('#BackButton').show();
        }

    </script>
}