@model eTactWeb.DOM.Models.GateAttDashBoard

<div class="row">
    @* <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <label asp-for="AttendanceEntryMethodType" class="form-label">Item Type</label>
        <select class="form-select" asp-for="AttendanceEntryMethodType">
            <option value="">-Select-</option>
            <option value="Manual">Manual</option>
            <option value="Import">Import</option>
        </select>
    </div> *@
    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col">
                <label class="form-label">From Date</label>
                <input asp-for="FromDate" maxlength="10" class="form-control" />
            </div>
            <div class="col">
                <label class="form-label">To Date</label>
                <input asp-for="ToDate" maxlength="10" class="form-control" />
            </div>
            <input asp-for="FromDate1" type="hidden" />
            <input asp-for="ToDate1" type="hidden" />
        </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <label asp-for="DashDepartment" class="form-label">Department</label>
        <select class="form-select" asp-for="DashDepartment" style="heigt:190px;width:190px;" asp-items="@(new SelectList(Model.DashDepartmentList,"Value","Text"))">
            <option value="0">-Select-</option>
        </select>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <label asp-for="DashCategory" class="form-label">Category</label>
        <select class="form-select" asp-for="DashCategory" style="heigt:190px;width:190px;" asp-items="@(new SelectList(Model.DashCategoryList,"Value","Text"))">
            <option value="0">-Select-</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
        <label asp-for="DashDesignation" class="form-label">Designation</label>
        <select class="form-select" asp-for="DashDesignation" style="heigt:190px;width:190px;" asp-items="@(new SelectList(Model.DashDesignationList,"Value","Text"))">
            <option value="0">-Select-</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
        <label asp-for="DashEmployee" class="form-label">Employee</label>
        <select class="form-select" asp-for="DashEmployee" style="heigt:190px;width:190px;" asp-items="@(new SelectList(Model.DashEmployeeList,"Value","Text"))">
            <option value="0">-Select-</option>
        </select>
    </div>
    <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
        <label class="form-label">Global search</label>
        <input type="text" class="form-control" id="search-box" style="background-color:#FFFACD" placeholder="Search...">
    </div>
    <div class=" d-flex justify-content-center mt-3" width="inherit">
        <button class="btn btn-sm btn-outline-info" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" onclick="GetSearchData();">
            <i class="fa-solid fa-magnifying-glass fa-fw fa-lg "></i>SEARCH
        </button>
        <button class="btn btn-sm btn-outline-success" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="sendToExcel">
            <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
        </button>
        <a class="btn btn-sm btn-outline-danger" style="padding:3px;height:30px;width:100px;margin-left:20px;" asp-controller="GateAttandance" asp-action="DashBoard">
            <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
        </a>
        <div class="d-flex" style="margin-left:50px;margin-top:10px;">
            <label class="color-box" style="background-color: #FF0000;"></label><label style="margin-left:5px;margin-top:-5px;">HR UNAPPROVED</label>
            <label class="color-box" style="background-color: green;margin-left:25px;"></label><label style="margin-left:5px;margin-top:-5px;">HR APPROVED</label>
            @*<label class="color-box" style="background-color: #0dcaf0;margin-left:25px;"></label><label style="margin-left:5px;margin-top:-5px;">PAYMENT DONE</label>
             <label class="color-box" style="background-color: purple;margin-left:25px;"></label><label style="margin-left:5px;margin-top:-5px;">1st Level Approved</label>
            <label class="color-box" style="background-color: blue;margin-left:25px;"></label><label style="margin-left:5px;margin-top:-5px;">Amendment PENDING</label> *@
        </div>
    </div>

</div>

<style>
    .color-box {
        width: 10px;
        height: 10px;
    }
</style>