@model eTactWeb.DOM.Models.SaleBillModel
<style>

    .select2-container--default .select2-selection--single {
        background-color: #e0f2f1;
        border: 1.5px solid #0a0a0a !important;
        border-radius: 4px;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            /* border-bottom: 1.5px solid #000 !important; */
            border-bottom: none !important;
        }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #e0f2f1; /* Dropdown background color */
        color: #000;
</style>
<div class="accordion-body">
    <div class="row g-2 gx-3">
        <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <input type="hidden" asp-for="FinFromDate" />
            <input type="hidden" asp-for="FinToDate" />
            <input type="hidden" id="GSTRegistered" value="" />
            <label asp-for="SaleBillEntryId" class="form-label">Entry ID</label>
            <input asp-for="SaleBillEntryId" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="SaleBillYearCode" class="form-label">YearCode</label>
            <input asp-for="SaleBillYearCode" class="form-control" value="@Model.SaleBillYearCode" readonly />
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="SaleBillEntryDate" class="form-label">EntryDate</label>
            <input asp-for="SaleBillEntryDate" class="form-control" readonly />
        </div>

        <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="SaleBillNo" class="form-label" style="color: red;">Sale Bill No*</label>
            <input asp-for="SaleBillNo" class="form-control" readonly style="background-color: lightblue !important;" />
        </div>
        <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="SaleBillDate" class="form-label" style="color: red;">Bill Date*</label>
            <input asp-for="SaleBillDate" class="form-control" readonly />
            @if(Model.Mode == "U" || Model.Mode == "V"){
                <input type="hidden" value="@Model.SaleBillDate" id="hiddenSaleBillDate" />
            }
        </div>
        <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="InvoiceTime" class="form-label">Time</label>
            <input asp-for="InvoiceTime" type="time" tabindex="7" class="form-control" />
        </div>

        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="RemovalDate" class="form-label">Removal Dt.</label>
            <input asp-for="RemovalDate" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="RemovalTime" class="form-label">Time</label>
            <input asp-for="RemovalTime" type="time" class="form-control" />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="SaleBillJobwork" class="form-label">Bill Type</label>
            <select asp-for="SaleBillJobwork" class="form-control">
                <option value="">-select-</option>
                <option value="S" selected>SaleBill</option>
                <option value="J">SaleBill JobWork</option>
            </select>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="AccountCode" class="form-label" style="color: red;">Customer Name*</label>
            <div class="form-check form-switch mx-3 w-auto position-absolute d-inline">
                <input asp-for="PN1" class="form-check-input" type="checkbox" role="switch" />Show All
            </div>
            <select asp-for="AccountCode" class="form-control">
                <option value="">-Select-</option>
            </select>
            @if (Model.Mode == "U" || Model.Mode == "V")
            {
                <input type="hidden" asp-for="AccountCode" id="hiddenAccountCode" />
            }
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="GSTNO" class="form-label" style="color: blue;">GST No</label>
            <input asp-for="GSTNO" class="form-control" />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="StateNameofSupply" class="form-label">State </label>
            <input asp-for="StateNameofSupply" class="form-control" readonly />
        </div>
        <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="CustAddress" class="form-label" style="color: red;">Cust Address*</label>
            <input asp-for="CustAddress" class="form-control" />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="StateCode" class="form-label" style="color: red;">State Code*</label>
            <input asp-for="StateCode" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="CityofSupply" class="form-label">City </label>
            <input asp-for="CityofSupply" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="CountryOfSupply" class="form-label">Country </label>
            <input asp-for="CountryOfSupply" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="DistanceKM" class="form-label">Distance KM</label>
            <input asp-for="DistanceKM" class="form-control" />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="vehicleNo" class="form-label">Vehicle No</label>
            <input asp-for="vehicleNo" class="form-control" />
        </div>

        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="TransporterName" class="form-label">Transporter#</label>
            <input asp-for="TransporterName" class="form-control" />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="TransportModeBYRoadAIR" class="form-label"> Mode</label>
            <select asp-for="TransportModeBYRoadAIR" class="form-control">
                <option value="0">-Select-</option>
                <option value="Road">Road</option>
                <option value="Air">Air</option>
            </select>
        </div>

        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="DispatchTo" class="form-label">Dispatch To</label>
            <input asp-for="DispatchTo" class="form-control" />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="DispatchThrough" class="form-label">Dispatch Thr</label>
            <input asp-for="DispatchThrough" class="form-control" />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="DomesticExportNEPZ" class="form-label" style="color: red;">Dom/Exp*</label>
            <select asp-for="DomesticExportNEPZ" class="form-control">
                <option value="DOMESTIC">Domestic</option>
                <option value="EXPORT">Export</option>
            </select>
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="SupplyType" class="form-label">Supply Type</label>
            <input asp-for="SupplyType" class="form-control" />
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="DocTypeAccountCode" class="form-label" style="color: red;">DocType*</label>
            <div class="form-check form-switch mx-3 w-auto position-absolute d-inline">
                <input asp-for="DT" class="form-check-input" type="checkbox" role="switch" />Show All
            </div>
            <select asp-for="DocTypeAccountCode" class="form-control">
                <option value="0">-Select-</option>
            </select>
            @if (Model.Mode == "U" || Model.Mode == "V")
            {
                <input type="hidden" asp-for="DocTypeAccountCode" id="hiddenDocType" />
            }
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="PaymentCreditDay" class="form-label" style="color: red;">Credit Days*</label>
            <input asp-for="PaymentCreditDay" class="form-control" />
        </div>
        @*
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
        <label asp-for="PaymentTerm" class="form-label">Payment Term*</label>
        <input asp-for="PaymentTerm" class="form-control" />
        </div> *@

        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="TypeJob" class="form-label">Type of Job</label>
            <input asp-for="TypeJob" class="form-control" />
        </div>

        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="currencyId" class="form-label" style="color: red;">Currency*</label>
            <select asp-for="currencyId" class="form-control">
                <option value="0">-Select-</option>
            </select>
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="ExchangeRate" class="form-label">FX Rate</label>
            <input asp-for="ExchangeRate" class="form-control" />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="TypeItemServAssets" class="form-label">Item Type</label>
            <select asp-for="TypeItemServAssets" class="form-control">
                <option value="0">-Select-</option>
                <option value="I" selected>Item</option>
                <option value="S">Service</option>
                <option value="A">Assets</option>
            </select>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="dispatchLocation" class="form-label">Dispatch Location</label>
            <input asp-for="dispatchLocation" class="form-control" />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="ConsigneeAccountcode" class="form-label">Consignee Name</label>
            <div class="form-check form-switch mx-3 w-auto position-absolute d-inline">
                <input asp-for="PNConsingee" class="form-check-input" type="checkbox" role="switch" />Show All
            </div>
            <select asp-for="ConsigneeAccountcode" class="form-control">
                <option value="0">-Select-</option>
            </select>
            <input type="hidden" value="@Model.ConsigneeAccountcode" id="hiddenConsigneeAC" />
        </div>
        <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="ConsigneeAddress" class="form-label">Consignee Address</label>
            <input asp-for="ConsigneeAddress" class="form-control" />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12 mt-4">
            <button type="button" class="SODetail btn btn-sm btn-outline-danger">
                <i class="fa-solid fa-angles-down fa-fw fa-lg"></i>  Display SO Detail
            </button>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12 mt-4 jobWorkChalln">
            <button class="btn btn-sm btn-warning bg-gradient" id="pendingChallanList">
                <i class="fa fa-plus-circle fafw fa-lg"></i>  Pending ChallanList
            </button>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12 mt-4 jobWorkChalln">
            <button class="btn btn-sm btn-primary bg-gradient" id="btnAdjustChallanListGrid">
                <i class="fa fa-plus-circle fafw fa-lg"></i>  Click To Adjust Challan
            </button>
        </div>
    </div>
</div>

