@model List<FastReport.Web.WebReport>
@{
    ViewData["Title"] = "Sale Invoice Reports";
}

@foreach (var report in Model)
{
    <div>
        <h2>@report.Report.GetParameterValue("copyType")</h2>
        @await report.Render()
    </div>
}

