@model eTactWeb.DOM.Models.AccPurchaseRejectionModel

<div class="accordion-body">
    <div class="row g-2 gx-3">
        <div class="col-md-2">
            <label asp-for="PurchaserejRemark" class="form-label">Remark</label>
            <input asp-for="PurchaserejRemark" class="form-control" />
        </div>
        <div class="col-md-2">
            <label asp-for="CC" class="form-label">CC</label>
            <input asp-for="CC" class="form-control" readonly tabindex="-1" />
        </div>
        <div class="col-md-2">
            <label asp-for="Uid" class="form-label">UID</label>
            <input asp-for="Uid" class="form-control" type="number" readonly tabindex="-1" />
        </div>
        <div class="col-md-2">
            <label asp-for="MachineName" class="form-label">Machine Name</label>
            <input asp-for="MachineName" class="form-control" value="@Environment.MachineName" readonly tabindex="-1" />
        </div>
        <div class="col-md-2">
            <label asp-for="ActualEntryDate" class="form-label">Actual Entry Date</label>
            <input asp-for="ActualEntryDate" class="form-control" readonly tabindex="-1" />
        </div>
        <div class="col-md-2">
            <label asp-for="ActualEnteredByName" class="form-label">Actual Entered By Name</label>
            <input asp-for="ActualEnteredBy" class="form-control" type="hidden" />
            <input asp-for="ActualEnteredByName" class="form-control" readonly tabindex="-1" />
        </div>
        <div class="col-md-2">
            <label asp-for="LastUpdatedByName" class="form-label">Last Updated By Name</label>
            <input asp-for="LastUpdatedBy" class="form-control" type="hidden" />
            <input asp-for="LastUpdatedByName" class="form-control" readonly tabindex="-1" />
        </div>
        <div class="col-md-2">
            <label asp-for="LastUpdationDate" class="form-label">Last Updation Date</label>
            <input asp-for="LastUpdationDate" class="form-control" readonly tabindex="-1" />
        </div>
        <div class="col-md-2">
            <label asp-for="ExchangeRate" class="form-label">Exchange Rate</label>
            @{
                <input asp-for="ExchangeRate" class="form-control" step="any" type="number" min="0" pattern="^([0-9]{1,6}\.[0-9]{2,})$" onkeypress="return (event.key == '.' || (event.charCode >= 48 && event.charCode <= 57))" />
            }
        </div>
        <div class="col-md-2">
            <label asp-for="Distance" class="form-label">Distance</label>
            @{
                <input asp-for="Distance" class="form-control" step="any" type="number" min="0" pattern="^([0-9]{1,6}\.[0-9]{2,})$" onkeypress="return (event.key == '.' || (event.charCode >= 48 && event.charCode <= 57))" />
            }
        </div>
        <div class="col-md-2">
            <label asp-for="BalanceSheetClosed" class="form-label">Balance Sheet Closed</label>
            <input asp-for="BalanceSheetClosed" class="form-control" readonly="readonly" tabindex="-1" />
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <label asp-for="PathOfFile1" class="form-label">PathOfFile1</label>
            <div class="input-group">
                <input class="form-control form-control" asp-for="PathOfFile1" type="file" data-val="false">
                @if (Model.PathOfFile1URL != null && Model.PathOfFile1URL != "")
                {
                    <a href="@Model.PathOfFile1URL" class="btn btn-link" target="_blank"><i class="fas fa-download"></i></a>
                }
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <label asp-for="PathOfFile2" class="form-label">PathOfFile2</label>
            <div class="input-group">
                <input class="form-control form-control" asp-for="PathOfFile2" type="file" data-val="false">
                @if (Model.PathOfFile2URL != null && Model.PathOfFile2URL != "")
                {
                    <a href="@Model.PathOfFile2URL" class="btn btn-link" target="_blank"><i class="fas fa-download"></i></a>
                }
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <label asp-for="PathOfFile3" class="form-label">PathOfFile3</label>
            <div class="input-group">
                <input class="form-control form-control" asp-for="PathOfFile3" type="file" data-val="false">
                @if (Model.PathOfFile3URL != null && Model.PathOfFile2URL != "")
                {
                    <a href="@Model.PathOfFile3URL" class="btn btn-link" target="_blank"><i class="fas fa-download"></i></a>
                }
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label class="form-label"> E-Invoice Bill API Response</label>
            <textarea id="EinvoiceResponseBox" class="form-control" rows="15"></textarea>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label class="form-label"> E-Way Bill API Response</label>
            <textarea id="ewayResponseBox" class="form-control" rows="15"></textarea>
        </div>
    </div>
</div>