@model eTactWeb.DOM.Models.AccPurchaseRejectionModel


<div class="accordion-body">
    <div class="row g-2 gx-3">

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <input type="hidden" asp-for="FinFromDate" />
            <input type="hidden" asp-for="FinToDate" />
            <label asp-for="PurchaseRejEntryId" class="form-label">Entry Id</label>
            <input asp-for="PurchaseRejEntryId" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="PurchaseRejYearCode" class="form-label">Year Code</label>
            <input asp-for="PurchaseRejYearCode" class="form-control" readonly />
        </div>

        <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="PurchaseRejEntryDate" class="form-label" style="color: red;">Entry Date*</label>
            <input asp-for="PurchaseRejEntryDate" class="form-control" readonly />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="DebitNotePurchaseRejection" class="form-label" style="color: red;">Debit Note Purchase Rejection</label>
            <select asp-for="DebitNotePurchaseRejection" class="form-control">
                <option value="">-Select-</option>
                <option value="Purchase-Rejection" selected>Purchase-Rejection</option>
                <option value="Debit-Note">Debit-Note</option>
            </select>
        </div>
        @* <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
        <label asp-for="AgainstSalePurchase" class="form-label" style="color: red;">Ag Sale Purchase</label>
        <select asp-for="AgainstSalePurchase" class="form-control">
        <option value="">-Select-</option>
        <option value="SALE" selected>Sale</option>
        <option value="PURCHASE">Purchase</option>
        </select>
        </div> *@

        <div class="col-xl-2 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="SubVoucherName" class="form-label" style="color: red;">Sub Voucher Name</label>
            <select asp-for="SubVoucherName" class="form-control">
                <option value="0">-Select-</option>
            </select>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <div class="form-check form-switch mx-3 w-auto position-absolute d-inline" style="padding-left: 150px;">
                <input asp-for="SA" class="form-check-input mt-2" type="checkbox" role="switch" />
                <label class="form-check-label ms-2">Show All</label>
            </div>
            <label asp-for="AccountCode" class="form-label" style="color: red;">Vendor Name</label>
            <select asp-for="AccountCode" class="form-control">
                <option value="">-Select-</option>
            </select>
        </div>

        <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="PurchaseRejectionInvoiceNo" class="form-label" style="color: red;">Invoice No*</label>
            <input asp-for="PurchaseRejectionInvoiceNo" class="form-control" />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="PurchaseRejectionInvoiceDate" class="form-label" style="color: red;">Invoice Date*</label>
            <input asp-for="PurchaseRejectionInvoiceDate" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="VoucherNo" class="form-label" style="color: red;">Voucher No*</label>
            <input asp-for="VoucherNo" class="form-control" />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="PurchaseRejectionVoucherNo" class="form-label" style="color: red;">Rejection Voucher No*</label>
            <input asp-for="PurchaseRejectionVoucherNo" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="PurchaseRejectionVoucherDate" class="form-label" style="color: red;">voucher date*</label>
            <input asp-for="PurchaseRejectionVoucherDate" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="GSTNO" class="form-label" style="color: red;">GST No</label>
            <input asp-for="GSTNO" class="form-control" readonly />
        </div>

        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="GSTType" class="form-label">GST TYPE</label>
            <input asp-for="GSTType" class="form-control" value="@Model.GSTType" readonly />
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="GSTRegistered" class="form-label" style="color: red;">GST *</label>
            <input asp-for="GSTRegistered" class="form-control" value="@Model.GSTRegistered" readonly />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="CustVendAddress" class="form-label">Vendor Address</label>
            <input asp-for="CustVendAddress" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="StateNameofSupply" class="form-label" style="color: red;">State*</label>
            <input asp-for="StateNameofSupply" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="StateCode" class="form-label" style="color: red;">State Code*</label>
            <input asp-for="StateCode" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="CityofSupply" class="form-label">City </label>
            <input asp-for="CityofSupply" class="form-control" readonly />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="CountryOfSupply" class="form-label">Country</label>
            <input asp-for="CountryOfSupply" class="form-control" readonly />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="PaymentTerm" class="form-label">Payment Term</label>
            <input asp-for="PaymentTerm" class="form-control" />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="PaymentCreditDay" class="form-label">Credit day</label>
            <input asp-for="PaymentCreditDay" class="form-control" />
        </div>
        <div class="col-md-1">
            <label asp-for="Vehicleno" class="form-label">Vehicle No</label>
            <input asp-for="Vehicleno" class="form-control" />
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 col-sm-12 col-xs-12">
            <label asp-for="Transporter" class="form-label">Transporter</label>
            <input asp-for="Transporter" class="form-control" />
        </div>
        <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <input asp-for="CurrencyId" type="hidden" class="form-control" />
            <label asp-for="Currency" class="form-label" style="color: red;">Currency*</label>
            <input asp-for="Currency" class="form-control" value="@Model.Currency?.ToString()" readonly />
        </div>
        <div class="col-md-2">
            <label asp-for="DomesticExportNEPZ" class="form-label">Domestic Export NEPZ</label>
            <input asp-for="DomesticExportNEPZ" class="form-control" readonly />
        </div>
    </div>
</div>