@model eTactWeb.DOM.Models.Features_OptionsModel;
@{
	ViewData["Title"] = "MRN Setting";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
	.disabled-link {
		pointer-events: none; /* Disables clicking */
		color: gray; /* Makes it look disabled */
		text-decoration: none; /* Removes underline */
		cursor: not-allowed; /* Changes cursor */
	}
</style>

<div class="card bg-gradient mb-3 border-light shadow-lg">
	<form asp-action="FeaturesOptionsMRN" asp-controller="Features_Options" method="post" autocomplete="on" class="form-horizontal">
		<div class="card-header card-headerBG text-light bg-gradient">
			<div class="card-header card-headerBG text-light justify-content-center bg-gradient">
				<h5>
					<strong> MRN Setting </strong>
					<span class="d-flex float-end" style="margin-top:-2px;">

						<div class="row justify-content-between g-2">
							<div class="col-auto">
								<a href="#" class="btn btn-primary btn-sm" onclick="PressBack();">
									<i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
									BACK
								</a>
							</div>
							@if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
							{
								<div class="col-auto">
									<a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
										<i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
										REFRESH
									</a>
								</div>
								@if (Model.Mode == "U")
								{
									Model.Mode = "U";
									<div class="col-auto">
										<button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
											<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
											UPDATE
										</button>
									</div>
								}

								else
								{
									<div class="col-auto">
										<button type="submit" class="btn btn-primary btn-sm submitBTN">
											<i class="fa-solid fa-chevron-circle-right"></i>
											Save
										</button>
									</div>
								}
							}
						</div>
					</span>
				</h5>
			</div>
			<div class="card-body bg-light">
				<div class="accordion shadow-lg" id="accordionItemCategory">
					<div class="accordion-item">
						<h2 class="accordion-header" id="H_ItemCategoryDetail">
							<button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_ItemCategoryDetail"
									aria-expanded="true" aria-controls="B_ItemCategoryDetail">
								<strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i> MRN Setting</strong>
								<small class="p-3"></small>
							</button>
						</h2>
						<div id="B_ItemCategoryDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemCategoryDetail">
							<div class="accordion-body">
								<div class="row">
									<div class="col-md-6">
										<input type="hidden" asp-for="Mode" />
										<div class="d-flex align-items-center mb-2" style="margin-left:0;">
											<label title="BatchWiseInventory" asp-for="BatchWiseInventoryBool" class="form-label me-2" style="width:230px;">
												Click To Show Batch Wise Inventory
											</label>
											<input type="checkbox" class="form-check-input" asp-for="BatchWiseInventoryBool" style="max-width:400px;" />
											(Uncheck To Hide)
										</div>
										<div class="d-flex align-items-center mb-2">
											<label title="AllowBackDateMRNEntry" asp-for="AllowBackDateMRNEntryBool" class="form-label me-2" style="width:230px;">
												Click To Allow Back Date
											</label>
											<input type="checkbox" class="form-check-input" asp-for="AllowBackDateMRNEntryBool" />
											(Uncheck To Not Allow)
										</div>
										<div class="d-flex align-items-center mb-2" style="margin-left:0;">
											<label title="MRNPrintReportName" asp-for="MRNPrintReportName" class="form-label me-2" style="width:230px;">
												MRN PrintReport Name
											</label>
											<input readonly asp-for="MRNPrintReportName" class="form-control" style="max-width:400px;" />
										</div>
										<div class="d-flex align-items-center mb-2" style="margin-left:0;">
											<label title="TakeSuuplierBatchOrSystmGeneratedBatchForInv" asp-for="TakeSuuplierBatchOrSystmGeneratedBatchForInv" class="form-label me-2" style="width:370px;">
												Take Supplier Batch Or Systme Generated Batch For Inv
											</label>
											<input readonly asp-for="TakeSuuplierBatchOrSystmGeneratedBatchForInv" class="form-control" style="max-width:400px;" />
										</div>

									</div>

								</div>
							</div>
						</div>

								
						<div class="card-footer p-3">
							<div class="row justify-content-between g-2">
								<div class="card-header card-headerBG text-light bg-gradient">
									<h5>
										<strong> MRN Setting</strong>
										<span class="d-flex float-end" style="margin-top:-2px;">


											<div class="row justify-content-between g-2">
												<div class="col-auto">

													<a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
														<i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
														BACK
													</a>
												</div>
												@if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
												{
													<div class="col-auto">
														@*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
														<a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
															@* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
															<i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
															REFRESH
														</a>
													</div>
													@if (Model.Mode == "U")
													{
														@*Model.Mode = "U";*@
														<div class="col-auto">
															@* <button type="submit" class="btn btn-sm btn-outline-warning">*@
															<button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
																<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
																UPDATE
															</button>
														</div>
													}
													else
													{
														<div class="col-auto">
															<button type="submit" class="btn btn-primary btn-sm submitBTN">
																<i class="fa-solid fa-chevron-circle-right"></i>
																Save
															</button>
														</div>
													}
												}
											</div>
										</span>
									</h5>
								</div>
							</div>
						</div>
					</div>
	</form>
</div>

<style>
	.form-label {
		font-weight: 500;
	}

	
	.d-flex label {
		white-space: nowrap;
	}

	.form-control {
		max-width: 300px;
	}

</style>
@section Scripts {
	<script>
		$(document).ready(function () {

			$("#MRNPrintReportName").rules("remove", "required");
			$("#AllowBackDateMRNEntry").rules("remove", "required");
			$("#BatchWiseInventory").rules("remove", "required");

			var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
				return new bootstrap.Tooltip(tooltipTriggerEl)
			})

			$('.submitBTN').click(function (e) {

				console.log("SubmitButton Click");
				e.preventDefault();

				$('form').submit();
			});

		});


		function GetFormRights() {
			$.ajax({
				url: "@Url.Action("GetFormRights")",
				type: "POST",
				success: function (data) {
					if (data != null) {
						var obj = $.parseJSON(data);
						if (obj.Result.Table.length == 0) {
							$(".submitBTN").prop("disabled", true);
							$('.card-footer .submitBTN').prop("disabled", true);
							$(".DashBoard")
								.addClass("disabled-link")
								.on("click", function (e) {
									e.preventDefault(); // Prevents clicking the link
								});
						}
						else {
							// console.log(obj);
							var optAll = obj.Result.Table[0].OptAll;
							var optSave = obj.Result.Table[0].OptSave;
							var optUpdate = obj.Result.Table[0].OptUpdate;
							var optDelete = obj.Result.Table[0].OptDelete;
							var optView = obj.Result.Table[0].OptView;
							if (!optAll) {
								if (!optSave) {
									$("#submitBTN").prop("disabled", true);
									$('.card-footer #submitBTN').prop("disabled", true);
								}
								if (!(optUpdate || optDelete || optView)) {
									$(".DashBoard")
										.addClass("disabled-link")
										.on("click", function (e) {
											e.preventDefault(); // Prevents clicking the link
										});
								}
							}
						}
					}
				},
				error: function (errMsg) {
					$.notify(errMsg, { position: "top center", className: "error" });
				}
			});
		}


		function PressBack() {
			sessionStorage.setItem('FromDateBack', $('#FromDateBack').val());
			sessionStorage.setItem('ToDateBack', $('#ToDateBack').val());
			sessionStorage.setItem('GroupNameBack', $('#GroupNameBack').val());
			sessionStorage.setItem('LedgerNameBack', $('#LedgerNameBack').val());
			sessionStorage.setItem('OpeningYearCodeBack', $('#OpeningYearCodeBack').val());
			sessionStorage.setItem('PreviousAmountBack', $('#PreviousAmountBack').val());
			sessionStorage.setItem('DrCrBack', $('#DrCrBack').val());
			sessionStorage.setItem('GlobalSearchBack', $('#GlobalSearchBack').val());

			window.history.back();
		}
	</script>
}



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>




