@model eTactWeb.DOM.Models.Features_OptionsModel;
@{
	ViewData["Title"] = "Sale Invoice setting";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
	.disabled-link {
		pointer-events: none; /* Disables clicking */
		color: gray; /* Makes it look disabled */
		text-decoration: none; /* Removes underline */
		cursor: not-allowed; /* Changes cursor */
	}
</style>

<div class="card bg-gradient mb-3 border-light shadow-lg">
	<form asp-action="FeaturesOptionsSaleInvoice" asp-controller="Features_Options" method="post" autocomplete="on" class="form-horizontal">
		<div class="card-header card-headerBG text-light bg-gradient">
			<div class="card-header card-headerBG text-light justify-content-center bg-gradient">
				<h5>
					<strong> Sale Invoice Setting </strong>
					<span class="d-flex float-end" style="margin-top:-2px;">

						<div class="row justify-content-between g-2">
							<div class="col-auto">
								<a href="#" class="btn btn-primary btn-sm" onclick="PressBack();">
									<i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
									BACK
								</a>
							</div>
							@if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
							{
								<div class="col-auto">
									<a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
										<i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
										REFRESH
									</a>
								</div>
								@if (Model.Mode == "U")
								{
									Model.Mode = "U";
									<div class="col-auto">
										<button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
											<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
											UPDATE
										</button>
									</div>
								}

								else
								{
									<div class="col-auto">
										<button type="submit" class="btn btn-primary btn-sm submitBTN">
											<i class="fa-solid fa-chevron-circle-right"></i>
											Save
										</button>
									</div>
								}
							}
						</div>
					</span>
				</h5>
			</div>
			<div class="card-body bg-light">
				<div class="accordion shadow-lg" id="accordionItemCategory">
					<div class="accordion-item">
						<h2 class="accordion-header" id="H_ItemCategoryDetail">
							<button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_ItemCategoryDetail"
									aria-expanded="true" aria-controls="B_ItemCategoryDetail">
								<strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i> Sale Invoice Setting</strong>
								<small class="p-3"></small>
							</button>
						</h2>
						<div id="B_ItemCategoryDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemCategoryDetail">
							<div class="accordion-body">
								<div class="row">
									<!-- Left Column -->
									<div class="col-md-6">
										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="SaleInvoiceFileName" asp-for="SaleInvoiceFileName" class="form-label me-2" style="width:230px;">Sale Invoice FileName</label>
											<input asp-for="SaleInvoiceFileName" class="form-control" style="max-width:400px;" />
										</div>
										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="SaleBillPrintReportName" asp-for="SaleBillPrintReportName" class="form-label me-2" style="width:230px;">Sale Invoice Print ReportName</label>
											<input asp-for="SaleBillPrintReportName" class="form-control" style="max-width:400px;" readonly/>
										</div>
										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="JWSaleBillPrintReportName" asp-for="JWSaleBillPrintReportName" class="form-label me-2" style="width:230px;">JW Sale Invoice Print ReportName</label>
											<input asp-for="JWSaleBillPrintReportName" class="form-control" style="max-width:400px;"readonly />
										</div>

										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="AllowBackDateSALEBILL" asp-for="AllowBackDateSALEBILLBool" class="form-label me-2" style="width:230px; margin:0;">
												Click To Allow Backdate Sale Bill
											</label>
											<input type="checkbox" class="form-check-input" asp-for="AllowBackDateSALEBILLBool" style="margin:0;" />
											(Uncheck To Not Allowed)
										</div>

										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="salebillShowItemBatchFIFOBased" asp-for="salebillShowItemBatchFIFOBasedBool" class="form-label me-2" style="width:230px; margin:0;">
												Click To Show Item Batch FIFO Based
											</label>
											<input type="checkbox" class="form-check-input" asp-for="salebillShowItemBatchFIFOBasedBool" style="margin:0;" />
											(Uncheck To Hide)
										</div>

										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="ShowHideEntryDetail" asp-for="ShowHideEntryDetailBool" class="form-label me-2" style="width:230px; margin:0;">
												Click To Show Entry Detail
											</label>
											<input type="checkbox" class="form-check-input" asp-for="ShowHideEntryDetailBool" style="margin:0;" />
											(Uncheck To Hide)
										</div>
										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="AccSaleBillManualTaxAlloweed" asp-for="AccSaleBillManualTaxAllowedBool" class="form-label me-2" style="width:230px; margin:0;">
												Click To Manual Tax Allowed
											</label>
											<input type="checkbox" class="form-check-input" asp-for="AccSaleBillManualTaxAllowedBool" style="margin:0;" />
										</div>
										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="AccPasswordToAllowManualTax" asp-for="AccPasswordToAllowManualTax" class="form-label me-2" style="width:230px;">Password To Allow ManualTax</label>
											<input asp-for="AccPasswordToAllowManualTax" class="form-control" style="max-width:400px;" />
										</div>

										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="EditableRateAndDiscountONSaleInvoice" asp-for="EditableRateAndDiscountONSaleInvoiceBool" class="form-label me-2" style="width:230px; margin:0;">
												Click To Editable Rate & Discount
											</label>
											<input type="checkbox" class="form-check-input" asp-for="EditableRateAndDiscountONSaleInvoiceBool" style="margin:0;" />
											(Uncheck To Not Editable)
										</div>
										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="ShowHideCustomerDetail" asp-for="ShowHideCustomerDetailBool" class="form-label me-2" style="width:230px; margin:0;">
												Click To Show Customer Detail
											</label>
											<input type="checkbox" class="form-check-input" asp-for="ShowHideCustomerDetailBool" style="margin:0;" />
											(Uncheck To Hide)
										</div>

									</div>

									<!-- Right Column -->
									<div class="col-md-6">
										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="ShowHideOtherRequiredDetail" asp-for="ShowHideOtherRequiredDetailBool" class="form-label me-2" style="width:280px; margin:0;">
												Click To Show Other Required Detail
											</label>
											<input type="checkbox" class="form-check-input" asp-for="ShowHideOtherRequiredDetailBool" style="margin:0;" />
											(Uncheck To Hide)
										</div>

										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="ShowHideCurrency" asp-for="ShowHideCurrencyBool" class="form-label me-2" style="width:280px; margin:0;">
												Click To Show Currency
											</label>
											<input type="checkbox" class="form-check-input" asp-for="ShowHideCurrencyBool" style="margin:0;" />
											(Uncheck To Hide)
										</div>

										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="ShowHideConsignee" asp-for="ShowHideConsigneeBool" class="form-label me-2" style="width:280px; margin:0;">
												Click To Show Consignee
											</label>
											<input type="checkbox" class="form-check-input" asp-for="ShowHideConsigneeBool" style="margin:0;" />
											(Uncheck To Hide)
										</div>

										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="ShowHideScheduleDetail" asp-for="ShowHideScheduleDetailBool" class="form-label me-2" style="width:280px; margin:0;">
												Click To Show Schedule Detail
											</label>
											<input type="checkbox" class="form-check-input" asp-for="ShowHideScheduleDetailBool" style="margin:0;" />
											(Uncheck To Hide)
										</div>

										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="AllowToChangeStoreName" asp-for="AllowToChangeStoreNameBool" class="form-label me-2" style="width:280px; margin:0;">
												Click To Allow Change Store Name
											</label>
											<input type="checkbox" class="form-check-input" asp-for="AllowToChangeStoreNameBool" style="margin:0;" />
											(Uncheck To Hide)
										</div>

										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="HideOtherFieldOFDetailTable" asp-for="HideOtherFieldOFDetailTableBool" class="form-label me-2" style="width:280px; margin:0;">
												Click To Show Other Field Of Detail Table
											</label>
											<input type="checkbox" class="form-check-input" asp-for="HideOtherFieldOFDetailTableBool" style="margin:0;" />
											(Uncheck To Hide)
										</div>
										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="ApproveSOForGenerateSaleInvoiceOrNot" asp-for="ApproveSOForGenerateSaleInvoiceOrNotBool" class="form-label me-2" style="width:280px; margin:0;">
												Click To Approve SO For Generate Sale Invoice
											</label>
											<input type="checkbox" class="form-check-input" asp-for="ApproveSOForGenerateSaleInvoiceOrNotBool" style="margin:0;" />
											(Uncheck To Not Approved)
										</div>
										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="AllowMultipleBuyerInSaleOrder" asp-for="AllowMultipleBuyerInSaleOrderBool" class="form-label me-2" style="width:280px; margin:0;">
												Click To Allow Multiple Buyer
											</label>
											<input type="checkbox" class="form-check-input" asp-for="AllowMultipleBuyerInSaleOrderBool" style="margin:0;" />
											(Uncheck To Not Allow)
										</div>
										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="ShowHideOtherDetails" asp-for="ShowHideOtherDetailsBool" class="form-label me-2" style="width:280px; margin:0;">
												Click To Show Other Details
											</label>
											<input type="checkbox" class="form-check-input" asp-for="ShowHideOtherDetailsBool" style="margin:0;" />
											(Uncheck To Hide)
										</div>
										<div class="d-flex align-items-center mb-1" style="margin:0; padding:0;">
											<label title="HideShowOtherDiscount" asp-for="HideShowOtherDiscountBool" class="form-label me-2" style="width:280px; margin:0;">
												Click To Show Other Discount
											</label>
											<input type="checkbox" class="form-check-input" asp-for="HideShowOtherDiscountBool" style="margin:0;" />
											(Uncheck To Hide)
										</div>

									</div>
								</div>

							</div>
						</div>


						<div class="card-footer p-3">
							<div class="row justify-content-between g-2">
								<div class="card-header card-headerBG text-light bg-gradient">
									<h5>
										<strong> Sale Invoice Setting</strong>
										<span class="d-flex float-end" style="margin-top:-2px;">


											<div class="row justify-content-between g-2">
												<div class="col-auto">

													<a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
														<i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
														BACK
													</a>
												</div>
												@if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
												{
													<div class="col-auto">
														@*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
														<a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
															@* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
															<i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
															REFRESH
														</a>
													</div>
													@if (Model.Mode == "U")
													{
														@*Model.Mode = "U";*@
														<div class="col-auto">
															@* <button type="submit" class="btn btn-sm btn-outline-warning">*@
															<button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
																<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
																UPDATE
															</button>
														</div>
													}
													else
													{
														<div class="col-auto">
															<button type="submit" class="btn btn-primary btn-sm submitBTN">
																<i class="fa-solid fa-chevron-circle-right"></i>
																Save
															</button>
														</div>
													}
												}
											</div>
										</span>
									</h5>
								</div>
							</div>
						</div>
					</div>
	</form>
</div>

<style>
	.form-label {
		font-weight: 500;
	}

	.d-flex label {
		white-space: nowrap;
	}

	.form-control {
		max-width: 300px;
	}

</style>
@section Scripts {
	<script>
		$(document).ready(function () {
			
			$("#SaleInvoiceFileName").rules("remove", "required");
			$("#SaleBillPrintReportName").rules("remove", "required");
			$("#JWSaleBillPrintReportName").rules("remove", "required");
			$("#AccPasswordToAllowManualTax").rules("remove", "required");

			// Remove required rule for checkboxes
			$("#AllowBackDateSALEBILLBool").rules("remove", "required");
			$("#salebillShowItemBatchFIFOBasedBool").rules("remove", "required");
			$("#ShowHideEntryDetail").rules("remove", "required");
			$("#AccSaleBillManualTaxAllowed").rules("remove", "required");
			$("#EditableRateAndDiscountONSaleInvoiceBool").rules("remove", "required");
			$("#ShowHideCustomerDetail").rules("remove", "required");
			$("#ShowHideOtherRequiredDetail").rules("remove", "required");
			$("#ShowHideCurrency").rules("remove", "required");
			$("#ShowHideConsignee").rules("remove", "required");
			$("#ShowHideScheduleDetail").rules("remove", "required");
			$("#AllowToChangeStoreName").rules("remove", "required");
			$("#HideOtherFieldOFDetailTable").rules("remove", "required");
			$("#ApproveSOForGenerateSaleInvoiceOrNotBool").rules("remove", "required");
			$(":input").each(function () {
				$(this).removeClass("input-validation-error");
				$("#" + this.id + "-error").remove();
			});

			setFormattedDate();
			$(":input").removeClass("input-validation-error");
			$("[id$='-error']").remove();
			$(":input").removeAttr("aria-describedby");

			$('.submitBTN').click(function (e) {

				console.log("SubmitButton Click");
				e.preventDefault();

				$('form').submit();
			});
			togglePasswordReadonly();
			$('#AccSaleBillManualTaxAllowedBool').change(function () {
				togglePasswordReadonly();
			});
		});

		function togglePasswordReadonly() {
			if ($('#AccSaleBillManualTaxAllowedBool').is(':checked')) {
				$('#AccPasswordToAllowManualTax').prop('readonly', false);
			} else {
				$('#AccPasswordToAllowManualTax').prop('readonly', true).val(''); 
			}
		}


		function setFormattedDate() {
			var today = new Date();
			var day = ('0' + today.getDate()).slice(-2);
			var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
			var month = monthNames[today.getMonth()];
			var year = today.getFullYear();

			var formattedDate = day + '/' + month + '/' + year;

			$('#ScheduleDate, #ActualScheduleDate, #CalibSchEntryDate,#LastUpdationDate')
				.datepicker({ dateFormat: 'dd/M/yy', maxDate: 0 })
				.val(formattedDate);

			// $("#DueCalibrationDate").datepicker({
			// 	dateFormat: "dd-M-yy",
			// 	minDate: 0
			// });

		}


		function GetFormRights() {
			$.ajax({
				url: "@Url.Action("GetFormRights")",
				type: "POST",
				success: function (data) {
					if (data != null) {
						var obj = $.parseJSON(data);
						if (obj.Result.Table.length == 0) {
							$(".submitBTN").prop("disabled", true);
							$('.card-footer .submitBTN').prop("disabled", true);
							$(".DashBoard")
								.addClass("disabled-link")
								.on("click", function (e) {
									e.preventDefault(); // Prevents clicking the link
								});
						}
						else {
							// console.log(obj);
							var optAll = obj.Result.Table[0].OptAll;
							var optSave = obj.Result.Table[0].OptSave;
							var optUpdate = obj.Result.Table[0].OptUpdate;
							var optDelete = obj.Result.Table[0].OptDelete;
							var optView = obj.Result.Table[0].OptView;
							if (!optAll) {
								if (!optSave) {
									$("#submitBTN").prop("disabled", true);
									$('.card-footer #submitBTN').prop("disabled", true);
								}
								if (!(optUpdate || optDelete || optView)) {
									$(".DashBoard")
										.addClass("disabled-link")
										.on("click", function (e) {
											e.preventDefault(); // Prevents clicking the link
										});
								}
							}
						}
					}
				},
				error: function (errMsg) {
					$.notify(errMsg, { position: "top center", className: "error" });
				}
			});
		}

		function CheckBeforeUpdate() {
			$.ajax({
				url: '@Url.Action("CheckBeforeUpdate")',
				type: "POST",
				data: { Type: $('#Entry_id').val() },
				success: function (data) {
					var obj = $.parseJSON(data);
					if (obj.Result?.Table[0]?.Column1 > 0) {
						$.notify("You cannot update this Category as Item with this category already exists", "error");
					} else {
						$('form').submit();
					}
				},
				error: function (response) {
					alert(response.responseText);
				}
			});
		}



		function PressBack() {
			sessionStorage.setItem('FromDateBack', $('#FromDateBack').val());
			sessionStorage.setItem('ToDateBack', $('#ToDateBack').val());
			sessionStorage.setItem('GroupNameBack', $('#GroupNameBack').val());
			sessionStorage.setItem('LedgerNameBack', $('#LedgerNameBack').val());
			sessionStorage.setItem('OpeningYearCodeBack', $('#OpeningYearCodeBack').val());
			sessionStorage.setItem('PreviousAmountBack', $('#PreviousAmountBack').val());
			sessionStorage.setItem('DrCrBack', $('#DrCrBack').val());
			sessionStorage.setItem('GlobalSearchBack', $('#GlobalSearchBack').val());

			window.history.back();
		}
	</script>
}



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>




