@model eTactWeb.DOM.Models.JobWorkReceiveModel

<style>
    #popUpHead {
        position: sticky;
        top:0;
    }
</style>

<div class="modal fade" id="JobReceiveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="staticBackdropLabel">Issued Challans List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content">
                    <div class="col-auto">
                        <input type="checkbox" id="challanCheckUncheck" /><p id="CheckedOrNot"></p>
                    </div>
                    <div class="col-auto">
                        <center><p>Select all challan then click on adjust challan</p></center>
                    </div>
                    <div class="col-auto">
                        <center style="color:red;"><b>Rec Qty:<label id="reccQty"></label></b></center>
                        <label id="validationMsg" style="color:red;font-size:14px;font-weight:bold;"></label>
                    </div>
                </div>
                <div class="col-auto">
                    <label type="hidden" id="errorLabel" style="color: red;"></label>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row g-2 gx-3">
                                    <div class="table-responsive" style="max-height:300px;">
                                        <table class="table table-hover table-bordered table-striped">
                                            <thead id="popUpHead" class="bg-gradient card-headerBG text-light small" style="white-space:nowrap">
                                                <tr>
                                                    <th>Action</th>
                                                    <th>Iss Year</th>
                                                    <th>Iss Challan</th>
                                                    <th>Challan Date</th>
                                                    <th>Iss Part Code</th>
                                                    <th>Iss Item Name</th>
                                                    <th>Pend Qty</th>
                                                    <th>Rec Item Name</th>
                                                    <th>Rec Qty1111</th>
                                                    <th>To Adjust</th>
                                                    <th>Adj Qty</th>
                                                    <th>Remaining Pend Qty</th>
                                                    <th>BomStatus</th>
                                                    <th>Bom Qty</th>
                                                    <th>Stage Description</th>
                                                    <th>Batch No</th>
                                                    <th>Unique Batch NO</th>
                                                    <th>Bom NO</th>
                                                    <th>BOM Date</th>
                                                    <th>OPN Chal</th>
                                                </tr>
                                            </thead>
                                            <tbody id="divChallanPopUp">
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row justify-content g-2">
                        <div class="col-auto float-left" style="display:flex; flex-direction: row; justify-content: center; align-items: center;">
                            <label class="form-label" style="white-space:nowrap">Total Pend Qty</label>
                            <input id="TotalPendQty" class="form-control" readonly />
                        </div>
                        <div class="col-auto float-left" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                            <label class="form-label" style="white-space:nowrap">Total Adj. Qty</label>
                            <input id="TotalAdjQty" class="form-control" readonly />
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-primary" id="AdjustChallanButton">Click here to adjust challan</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-primary" id="AddToBelowGrid" disabled>OK</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>