@model eTactWeb.DOM.Models.MISTracebilityReportModel;
@{
    ViewData["Title"] = "MIS Tracebility Report";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="card bg-gradient mb-3 border-light shadow-lg">
    <div class="card-header card-headerBG text-light bg-gradient">
        <h5>
            <strong>MIS Tracebility Report</strong>
            <span class="d-flex float-end" style="margin-top:-2px;">
            </span>
        </h5>
    </div>
    <div>
    </div>
    <div class="card-body bg-light pt-0">
        <div class="accordion shadow-lg">
            <div class="card-body">
                <div class="card overflow-auto">
                    <div class="card-body">
                        <form id="SParam">
                            <div class="row">
                                <div class="col-xxl-1 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label class="form-label">From Date</label>
                                    <input asp-for="FromDate" class="form-control" />
                                </div>
                                <div class="col-xxl-1 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label class="form-label">To Date</label>
                                    <input asp-for="ToDate" class="form-control" />
                                </div>
                                <div class="col-xxl-1 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="SaleBillNo" class="form-label">Sale BillNo</label>
                                    <select asp-for="SaleBillNo" class="form-select">
                                        <option disabled value="">-Select-</option>
                                        <option selected value="80">-80-</option>
                                    </select>
                                </div>
                                <div class="col-xxl-1 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="BatchNo" class="form-label">Batch No</label>
                                    <select asp-for="BatchNo" class="form-select">
                                        <option disabled value="">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-xxl-1 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="UniqueBatchNo" class="form-label">Unique BatchNo</label>
                                    <select asp-for="UniqueBatchNo" class="form-select">
                                        <option disabled value="">-Select-</option>
                                    </select>
                                </div>

                                <div class=" d-flex justify-content-center  mt-3 col-sm-5 col-md-8 col-lg-6 col-xl-4" width="inherit">
                                    <button class="btn btn-sm btn-outline-info" type="button" style="padding:0px;height:30px;width:100px;" onclick="GetVendoreRatingDetailsData(); ">
                                        <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>SEARCH
                                    </button>
                                    <a class="btn btn-sm btn-outline-danger" style="padding:3px;height:30px;width:100px;margin-left:20px;" asp-controller="VendoreRatingAnalysisReport" asp-action="VendoreRatingAnalysisReport">
                                        <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                    </a>
                                </div>
                            </div>
                            <div class="progress my-2 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="H_SAGrid">
                                    <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                                        <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>MIS Tracebility Report Grid</strong>
                                    </button>
                                </h2>

                                <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradientn show" aria-labelledby="H_SAGrid">
                                    <div class="accordion-body">
                                        <div class="card-body" id="divPendingMRP">
                                            <div class="col-md-12 divStockRegister" id="divStockMainRegister">
                                                <partial name="_MISTraceabilityReportGrid" />
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end mt-2" id="reportFields">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts 
{
    <script>

        $(document).ready(function () {
            $("#FromDate").datepicker({ dateFormat: "dd/mm/yy" });
            $("#ToDate").datepicker({ dateFormat: "dd/mm/yy" });
            $('#SaleBillNo').select2();
            $('#BatchNo').select2();
            $('#UniqueBatchNo').select2();

            function convertToDDMMYYYY(dateStr) {
                if (!dateStr) return '';
                try {
                    let raw = dateStr.split(" ")[0];

                    if (/^\d{2}\/\d{2}\/\d{4}$/.test(raw))
                        return raw;

                    let [day, mon, year] = raw.includes('/') ? raw.split('/') : raw.split('-');

                    const mm = ({
                        Jan: "01", Feb: "02", Mar: "03", Apr: "04", May: "05", Jun: "06",
                        Jul: "07", Aug: "08", Sep: "09", Oct: "10", Nov: "11", Dec: "12"
                    })[mon] || mon.padStart(2, '0');

                    return `${day}/${mm}/${year}`;
                }
                catch {
                    return '';
                }
            }

            const currentDate = new Date();
            let fromDate = convertToDDMMYYYY('@Model.FromDate');
            $("#FromDate").datepicker("setDate", fromDate || currentDate);
            $("#ToDate").datepicker("setDate", currentDate);
            FillSaleBillNoList();
        });

        $('#SaleBillNo').change(function () {
            GetMISTracebilityReportData();
        });

        function GetMISTracebilityReportData() {

            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var SaleBillNo = $('#SaleBillNo').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMISTracebilityReportData", "MISTracebilityReport")',
                data: {
                    FromDate: FromDate,
                    ToDate: ToDate,
                    SaleBillNo: SaleBillNo
                },
                success: function (response) {
                    $('#divStockMainRegister').html(response);
                    var totalRows = $('#divStockMainRegister tr').length;
                    $('#totalRows').text(totalRows);
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching Vendore Rating data:", error);
                }
            });
        }

        function FillSaleBillNoList() {
            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            $.ajax({
                url: '@Url.Action("FillSaleBillNoList", "MISTracebilityReport")',
                type: 'GET',
                async: false,
                data: {
                    FromDate: FromDate,
                    ToDate: ToDate
                },
                success: function (response, status, error) {

                    var SaleBillNoDropdown = $('#SaleBillNo');
                    var obj = $.parseJSON(response);
                    SaleBillNoDropdown.empty();
                    SaleBillNoDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, billno) {

                        SaleBillNoDropdown.append('<option value="' + billno.SaleBillNo + '">' + billno.SaleBillNo + '</option>');
                    });

                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });

        }

        var currentSearchColumn = null;

        $("#upper-search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#upperGridBody tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });

        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#upper-search-box").val('').trigger('keyup'); // Reset search box and trigger the search
        });

        $("#lower-search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#lowerGridBody tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });

        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#lower-search-box").val('').trigger('keyup'); // Reset search box and trigger the search
        });

    </script>
}