@model eTactWeb.DOM.Models.WorkOrderMainDashboard

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="shadow-lg">
    <div class="card rounded border-light bg-gradient">
        <div class="card-header card-headerBG text-light bg-gradient">
            <h5>
                Production Plan - <strong>Dashboard</strong>
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-action="WorkOrder" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                        <i class="fa fa-plus-circle fafw fa-lg" aria-hidden="true"></i>
                        Add New
                    </a>
                </span>
            </h5>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body">
                    <form id="SParam">
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-1">
                                <label asp-for="CC" class="form-label">Branch</label>
                                <input asp-for="CC" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">From Date</label>
                                        <input asp-for="FromDate" maxlength="10" class="form-control" />
                                    </div>
                                    <div class="col">
                                        <label class="form-label">To Date</label>
                                        <input asp-for="ToDate" maxlength="10" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-1">
                                <label asp-for="WONO" class="form-label">WONO</label>
                                <input asp-for="WONO" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-1">
                                <label asp-for="SONO" class="form-label">SONO</label>
                                <input asp-for="SONO" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-1">
                                <label asp-for="SchNo" class="form-label">Sch No</label>
                                <input asp-for="SchNo" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                <label asp-for="AccountName" class="form-label">Account Name</label>
                                <input asp-for="AccountName" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-1">
                                <label asp-for="PartCode" class="form-label">PartCode</label>
                                <input asp-for="PartCode" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                <label asp-for="ItemName" class="form-label">ItemName</label>
                                <input asp-for="ItemName" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-1">
                                <label asp-for="SummaryDetail" class="form-label">Summary/Detail</label>
                                <select class="form-select" asp-for="SummaryDetail" onchange="GetSearchData();">
                                    <option>-Select-</option>
                                    <option value="Summary" selected>Summary</option>
                                    <option value="Detail">Detail</option>
                                </select>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end mt-3">
                                <button class="btn btn-sm btn-outline-info" type="button" onclick="GetSearchData();">
                                    <i class="fa-solid fa-magnifying-glass fa-fw fa-lg "></i>SEARCH
                                </button>
                                <button class="btn btn-sm btn-outline-success me-3" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="btnGridExcel">
                                    <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                                </button>
                                <a class="btn btn-sm btn-outline-danger" asp-controller="WorkOrder" asp-action="WorkOrderDashboard">
                                    <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                </a>
                                <div class="ms-auto d-flex align-items-center">
                                    <div class="col-md-4">
                                        <label class="form-label me-2">Global search</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="search-box" placeholder="Search..." style="background-color:#FFFACD;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body pb-0 pt-0">
            <div class="progress" style="height: 4px;">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body" id="divDashboardGrid">
                    <partial name="_WorkOrderDashboardGrid" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            GetFormRights();
             
            //const regex = /^\d{2}\/\d{2}\/\d{4}$/;
            //var FromDate = $('#FromDate').val().split(" ")[0].replace(/-/g, '/');
            //if (regex.test(FromDate)) {
            //    $("#FromDate").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", FromDate);
            //} else {
            //    var Year = FromDate.split("/")[0];
            //    var Month = FromDate.split("/")[1];
            //    var Day = FromDate.split("/")[2];
            //    var FormattedDate = `${Day}/${(Month > 9 ? "0" + Month : Month)}/${Year}`;
            //    $("#FromDate").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", FormattedDate);
            //}
            // var FromDate = parseDateToFormat($('#FromDate').val().split(" ")[0]);
            // $("#FromDate").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", FromDate);
            var currentDate = new Date();
            var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
            function formatDate(date) {
                var day = ("0" + date.getDate()).slice(-2);
                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                var year = date.getFullYear();
                var dateString = day + "/" + month + "/" + year;
                return dateString;
            }

             $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", formatDate(firstDayOfMonth));
            $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');

            $('#PartCode').rules('remove', 'required');

            AutoComplete('VWorkorderMainDetail', 'WONO', 'WONO', null);
            AutoComplete('VWorkorderMainDetail', 'CC', 'cc', null);
            AutoComplete('VWorkorderMainDetail', 'SONO', 'SONO', null);
            AutoComplete('VWorkorderMainDetail', 'SchNo', 'SchNo', null);
            AutoComplete('VWorkorderMainDetail', 'AccountName', 'Account_Name', null);
            AutoComplete('VWorkorderMainDetail', 'PartCode', 'PartCode', null);
            AutoComplete('VWorkorderMainDetail', 'ItemName', 'ItemName', null);
            GetSearchData();

        });
        function loadPage(pageNumber) {
             

            var dashboardType = $('#SummaryDetail').val();
            var url = '';

            if (dashboardType === "Summary") {
                url = '@Url.Action("GetSearchData", "WorkOrder")';
            } else if (dashboardType === "Detail") {
                url = '@Url.Action("GetSearchData", "WorkOrder")';
            } 

            var formData = $('#SParam').serializeArray();
            formData.push({ name: 'pageNumber', value: pageNumber });
            console.log("WorkOrderData:", formData);
            $.ajax({
                type: 'GET',
                url: url,
                data: formData,
                success: function (result) {
                    $('#divDashboardGrid').empty();
                    $('#divDashboardGrid').html(result);
                    $('#totalRows').text($('#gateDashboardtable tr').length);
                    //countAllTotal();
                }
            });
        }
        $('#btnGridExcel').click(function () {
            var reportType = $('#SummaryDetail').val();
            window.location.href = '/WorkOrder/ExportWorkOrderToExcel?ReportType=' + encodeURIComponent(reportType);
        });

        function GetFormRights() {

            $.ajax({
                url: "@Url.Action("GetFormRights")",
                type: "POST",
                success: function (data) {
                    if (data != null) {

                        var obj = $.parseJSON(data);
                        if (obj.Result.Table.length == 0) {
                            //$("#submitBTN").prop("disabled", true);
                        } else {
                            console.log(obj);
                            var optAll = obj.Result.Table[0].OptAll;
                            var optSave = obj.Result.Table[0].OptSave;
                            var optUpdate = obj.Result.Table[0].OptUpdate;
                            var optDelete = obj.Result.Table[0].OptDelete;
                            var optView = obj.Result.Table[0].OptView;
                            var rowCounter = $('#divDashboardGrid tr').length;
                            if (!optAll) {
                                if (!optSave) {
                                    $("#savebtn").css("pointer-events", "none");
                                } else {
                                    $("#savebtn").css("pointer-events", "");
                                }
                                if (!optView) {

                                    for (var i = 0; i < rowCounter; i++) {
                                        $('#viewCursorDiv-' + i).empty();
                                        $('#viewCursorDiv-' + i).append(`<a class="table-link link-success noCursor" id="viewNoCursor"">
                                                                                                                                                <span class="fa-stack">
                                                                                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                                                                                    <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                                                                                                                                </span>
                                                                                                                                            </a>`);
                                    }
                                }
                                if (!optUpdate) {
                                    for (var i = 0; i < rowCounter; i++) {
                                        $('#editCursorDiv-' + i).empty();
                                        $('#editCursorDiv-' + i).append(`<a class="table-link link-primary noCursor">
                                                                                                                                                <span class="fa-stack">
                                                                                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                                                                                                </span>
                                                                                                                                            </a>`);
                                    }
                                }
                                if (!optDelete) {
                                    for (var i = 0; i < rowCounter; i++) {
                                        $('#deleteCursorDiv-' + i).empty();
                                        $('#deleteCursorDiv-' + i).append(`<a class="table-link link-danger noCursor">
                                                                                                                                                <span class="fa-stack">
                                                                                                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                                                                                                    <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                                                                                                                </span>
                                                                                                                                            </a>`);
                                    }
                                }
                                if (!(optUpdate || optDelete || optView)) {
                                    $("#divDashboardGrid").css("display", "none");
                                    $(".totalrows").css("display", "none");
                                    $("#SParam").hide();
                                }
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }


        function GetSearchData() {
            var data = $('#SParam').serialize();
            $.ajax({
                url: '@Url.Action("GetSearchData")',
                type: "POST",
                async: false,
                data: { SummaryDetail: $('#SummaryDetail').val(), WONO: $('#WONO').val(), CC: $('#CC').val(), SONO: $('#SONO').val(), SchNo: $('#SchNo').val(), AccountName: $('#AccountName').val(), PartCode: $('#PartCode').val(), ItemName: $('#ItemName').val(), FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val() },
                success: function (data) {
                    $('#divDashboardGrid').empty().append(data);
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }

        var currentSearchColumn = null;

        // $("#search-box").on("keyup", function () {
        //     var value = $(this).val().toLowerCase();
        //     $("#WorkOrderGrid tr").filter(function () {
        //         if (currentSearchColumn !== null) {
        //             var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
        //             $(this).toggle(columnText.indexOf(value) > -1);
        //         } else {
        //             $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        //         }
        //     });
        // });


        // $(document).on("click", "th[data-columnno]", function () {
        //     currentSearchColumn = $(this).data('columnno');
        //     $("#search-box").val('').trigger('keyup');
        // });

        $("#search-box").on("input", function () {
             
            var searchString = $(this).val().trim();
            var dashboardType = $('#SummaryDetail').val();
            $.ajax({
                url: "/WorkOrder/GlobalSearch?searchString=" + searchString,
                type: "GET",
                data: { searchString: searchString, dashboardType: dashboardType },
                success: function (data) {

                    $('#divDashboardGrid').empty();
                    $('#divDashboardGrid').html(data);
                    $('#totalRows').text($('#gateDashboardtable tr').length);
                    //countAllTotal();
                },
                error: function () {
                    console.log("Error fetching search results.");
                }
            });
        });

        $(document).on("click", ".sortCol", function () {
            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');

            if (currentOrder === 'asc') {
                sortTable('WODashboard', colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow');
                //$(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable('WODashboard', colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });

        function confirmdelete(event) {

            event.preventDefault();
            if (confirm("are you sure you want to delete this entry?")) {
                var linkurl = $(event.currentTarget).attr("href");
                linkurl = linkurl + "&CC=" + $('#CC').val() + "&FromDate=" + $('#FromDate').val() + "&ToDate=" + $('#ToDate').val() + "&WONO=" + $('#WONO').val() + "&SONO=" + $('#SONO').val() + "&SchNo=" + $('#SchNo').val() + "&AccountName=" + $('#AccountName').val() + "&PartCode=" + $('#PartCode').val() + "&ItemName=" + $('#ItemName').val() + "&SummaryDetail=" + $('#SummaryDetail').val();
                window.location.href = linkurl;
            }
        }


        
        
        function selection(CurrentRow) {

            $(CurrentRow).css({ 'background-color': '#00bcd4' });
            $("#WorkOrderGrid tr").not(CurrentRow).css({ 'background-color': '' });
        }

    </script>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
}