@model eTactWeb.DOM.Models.UserMasterModel

@{
    ViewData["Title"] = "User Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="shadow-lg mb-3" id="1002">
    <form method="post" asp-controller="Admin" autocomplete="off">
        <div class="card rounded border-light bg-gradient">
            <div class="card-header card-headerBG text-light bg-gradient">
                <h5>
                    User <strong>Managment</strong>
                    <span class="d-flex float-end" style="margin-top:-2px;">
                        <a asp-controller="Admin" asp-action="UserMaster" asp-route-ID=0 class="btn btn-sm btn-outline-light bg-gradient" id="savebtn">
                            <i class="fa fa-user-plus fa-fw fa-lg" aria-hidden="true"></i>
                            Add User
                        </a>
                    </span>
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                        <label asp-for="UserType" class="form-label">User Type</label>
                        <input asp-for="UserType" class="form-control" />
                    </div>
                    <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                        <label asp-for="EmpCode" class="form-label">EmpCode</label>
                        <input asp-for="EmpCode" class="form-control" />
                    </div>
                    <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                        <label asp-for="EmpName" class="form-label">Emp Name</label>
                        <input asp-for="EmpName" class="form-control" />
                    </div>
                    <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                        <label asp-for="UserName" class="form-label">User Name</label>
                        <input asp-for="UserName" class="form-control" />
                    </div>
                </div>
                <div class=" d-flex justify-content-center mt-3" width="inherit">

                    <button class="btn btn-sm btn-outline-info" type="button" style="padding:0px;height:30px;width:100px;" onclick="GetSearchData();">
                        <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>SEARCH
                    </button>
                    <button class="btn btn-sm btn-outline-success" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="sendToExcel">
                        <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                    </button>
                    <a class="btn btn-sm btn-outline-danger" style="padding:3px;height:30px;width:100px;margin-left:20px;" asp-controller="GateInward" asp-action="Dashboard">
                        <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                    </a>
                </div>
                <div id="divDashboardDiv">
                <partial name="_UserGrid" />
                </div>
            </div>
            <div class="card-footer justify-content-around">
                <div class="row" style="text-align-last: start;">
                    <div class="col-auto my-1">
                        <button type="button" class="btn btn-link bg-graident" onclick="back();">
                            <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>BACK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            AutoComplete("UserMaster", "UserType", "UserType", null);
            AutoComplete("UserMaster", "EmpCode", "EmpCode", null);
            AutoComplete("Employee_master", "EmpName", "Emp_Name", null);
            AutoComplete("UserMaster", "UserName", "UserName", null);
        });

        function GetSearchData() {
            var data = $('#SParam').serialize();
             
            $.ajax({
                url: '@Url.Action("UserDashBoard")',
                type: "POST",
                async: false,
                data: {"Flag":"False","Usertype":$('#UserType').val(),"EmpCode":$('#EmpCode').val(),"EmpName":$('#EmpName').val(),"UserName":$('#UserName').val()},
                success: function (data) {
                    $('#divDashboardDiv').empty().append(data);
                    //var dashGrid = $('#mrnTbody tr').length;
                    //$('#totalRows').text(dashGrid);
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }

    </script>
            }