@model eTactWeb.DOM.Models.DashboardModel

<div>
	<form asp-action="XONDashboard" asp-controller="XONDashboard" method="post" class="form-horizontal">
		<input type="hidden" id="NoOfItemInStock" />
		<div class="col-auto">
			<button type="submit" class="btn btn-primary btn-sm submitBTN" onclick="FillNoOfItemInStock()">
				<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
				Click here to Refresh No Of item In Stock
			</button>
		</div>
		<div class="col-auto">
			<button type="submit" class="btn btn-primary btn-sm submitBTN" onclick="FillNoOfItemInStock()">
				<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
				Click here to Refresh No Of item In Stock
			</button>
		</div>
		<div class="col-auto">
			<button type="submit" class="btn btn-primary btn-sm submitBTN" onclick="FillNoOfItemInStock()">
				<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
				Click here to Refresh No Of item In Stock
			</button>
		</div>
		<div class="col-auto">
			<button type="submit" class="btn btn-primary btn-sm submitBTN" onclick="FillNoOfItemInStock()">
				<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
				Click here to Refresh No Of item In Stock
			</button>
		</div>
		<div class="col-auto">
			<button type="submit" class="btn btn-primary btn-sm submitBTN" onclick="FillNoOfItemInStock()">
				<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
				Click here to Refresh No Of item In Stock
			</button>
		</div>
	</form>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			FillNoOfItemInStock();
		})

		function FillNoOfItemInStock(){
			$.ajax({
						url: '@Url.Action("NoOfItemInStock", "XONDashboard")',
						type: 'POST',
						async: false,
						data: {},
						success: function (response, status, error) {

							var obj = $.parseJSON(response);
							if (obj.StatusCode == 200 && obj.StatusText === 'Success'){
								$('#NoOfItemInStock').text(obj.Result[0].NoOfItemInStock);
							}
						},
						error: function (xhr, status, error) {
							alert('Failed to load ledger names.');
						}
					});
		}

	</script>
}